<template>
  <div>
    <!-- Polygon Background -->
    <div
      class="bg-gray-100"
      style="
        height: 200px;
        clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 100%);
      "
    ></div>
    <!-- Content -->
    <div class="layout-post">
      <!-- Header -->
      <section id="header" class="z-10">
        <h1 class="-mt-32 text-4xl font-semibold">
          {{ $t('section.title.manuscripts') }}
        </h1>
        <h2 class="text-xl text-indigo-700">
          {{ $t('section.subtitle.manuscripts') }}
        </h2>
      </section>
      <!-- Teaser -->
      <section id="teaser" class="pt-6 text-lg">
        <p>Tbd.</p>
      </section>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'Manuscripts',
  transition: 'pageFade',
  data() {
    return {}
  },
  computed: {},
  created() {},
  head() {
    return {
      title:
        this.$t('section.title.manuscripts') + ' | ' + this.$t('site.title'),
    }
  },
}
</script>

<style lang="css" scoped>
.layout-post {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr);
}
/* position text paragraphs into the second (middle) column */
section,
p,
h1,
h2,
span {
  grid-column: 2;
}

/* position images to take up all three columns */
img {
  grid-column: 1 / 4;
  width: 100%;
  max-width: 100ch;
  justify-self: center;
}
</style>
