<template>
  <div class="min-h-screen pb-24">
    <!-- Polygon Background -->
    <div
      class="bg-white"
      style="
        height: 200px;
        clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 100%);
      "
    ></div>
    <!-- Content -->
    <div class="mb-16 -mt-32 bg-gray-100 layout-post">
      <!-- Header -->
      <section v-if="!$fetchState.pending" id="header" class="z-10">
        <!-- Breadcrumbs -->
        <Breadcrumbs />
        <!-- Title -->
        <h1
          class="max-w-lg mt-2 text-xl font-semibold leading-tight md:w-auto md:mt-0 md:text-2xl"
        > {{ pageTitle }} </h1>
      </section>
      <!-- Teaser -->
      <section id="teaser" class="pt-6 text-lg"></section>
    </div>

    <!-- Collection Content -->
    <div
      id="tableCollection"
      class="flex flex-col justify-center pt-2 m-auto max-w-7xl md:px-12 layout-table"
    >
      <Table
        v-if="!$fetchState.pending"
        :key="tableFilter"
        :items="isTextgroup ? works : versions"
        key-name="pta"
        filter
        :filterByColumn="isWork ? 'description' : 'title' "
        :filterableColumns="filterableColumns"
        :sortColumn="tableSort.activeColumn"
        :sortDirection="tableSort.activeDirection"
      >
        <!-- Table Filter Categories -->
        <template v-if="isWork" v-slot:categories="slotProps">
           <BtnBadge
            size="large"
            :layout="tableFilter === 'all' ? 'filled' : 'outline'"
            color="indigo"
            class="mx-2 mb-2 md:mb-0"
            :badge-count="badgeCount('all')"
            @click="switchToFilter('all')"
          >{{ $t('btn.allTexts') }}</BtnBadge>
          <BtnBadge
            :layout="tableFilter === 'editions' ? 'filled' : 'outline'"
            size="large"
            color="indigo"
            class="mx-2 mb-2 md:mb-0"
            :badge-count="badgeCount('editions')"
            @click="switchToFilter('editions')"
          >{{ $t('btn.editions') }}</BtnBadge>
          <BtnBadge
            :layout="tableFilter === 'manuscripts' ? 'filled' : 'outline'"
            size="large"
            color="indigo"
            class="mx-2 mb-2 md:mb-0"
            :badge-count="badgeCount('manuscripts')"
            @click="switchToFilter('manuscripts')"
          >{{ $t('btn.manuscripts') }}</BtnBadge>
          <BtnBadge
            :layout="tableFilter === 'translations' ? 'filled' : 'outline'"
            size="large"
            color="indigo"
            class="mx-2 mb-2 md:mb-0"
            :badge-count="badgeCount('translations')"
            @click="switchToFilter('translations')"
          >{{ $t('btn.translations') }}</BtnBadge>
        </template>

        <!-- Table Header -->
        <template v-slot:header="slotProps">
          <th
            v-for="col in tableLayout"
            :key="col.name"
            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
          >
            {{ $t(col.label) }}
            <button
              v-if="col.sortable"
              v-tooltip="{
                placement: 'bottom',
                content:
                  tableSort.activeDirection === 'asc'
                    ? $t('btn.sortDesc')
                    : $t('btn.sortAsc'),
                offset: '10',
              }"
              class="align-middle focus:outline-none"
              @click="sortTableRows(col.name)"
            >
              <!-- Icon Descending -->
              <svg
                v-show="tableSort.activeDirection === 'desc'"
                class="w-4 h-4 text-gray-400 fill-current hover:text-indigo-500 focus:outline-none"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h7a1 1 0 100-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z"
                />
              </svg>
              <!-- Icon Ascending -->
              <svg
                v-show="tableSort.activeDirection === 'asc'"
                class="w-4 h-4 text-gray-400 fill-current hover:text-indigo-500 focus:outline-none"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h5a1 1 0 000-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM13 16a1 1 0 102 0v-5.586l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L13 10.414V16z"
                />
              </svg>
            </button>
          </th>
        </template>

        <!-- Table Rows -->
        <template v-slot:items="slotProps">
          <!-- Image, Title, Collection -->
          <td class="px-6 py-4 border-b border-gray-200">
            <div class="flex items-center">
              <div class="flex-shrink-0 w-10 h-10">
                <img
                  class="w-10 h-10 rounded-full"
                  src="@/assets/images/card_placeholder.jpg"
                  alt
                />
              </div>
              <div class="ml-4">
                <div class="max-w-xl text-sm font-medium leading-5 text-gray-900 break-words">
                  <span v-if="isTextgroup">{{ slotProps.item.title }}</span>
                  <span v-if="isWork" v-html="translatedDescription(slotProps.item.description)"></span>
                </div>
                <div
                  v-if="isWork"
                  class="text-sm leading-5 text-gray-500"
                >{{ slotProps.item.label }}</div>
              </div>
            </div>
          </td>
          <!-- Manuscripts -->
          <td v-if="isTextgroup" class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
             <div class="text-sm leading-5 text-gray-900" v-html="manuscriptsCount(slotProps.item)"></div>
          </td>
          <!-- Editions -->
          <td v-if="isTextgroup" class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <span
                class="inline-flex px-2 text-xs font-semibold leading-5 text-teal-800 bg-teal-100 rounded-full"
              >{{ $t(`language.${slotProps.item.language}`) }}</span>
          </td>
          <!-- Translations -->
          <td v-if="isTextgroup" class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <span
                class="inline-flex px-2 text-xs font-semibold leading-5 text-teal-800 bg-teal-100 rounded-full"
              v-html="getTranslations(slotProps.item)"></span>
          </td>
          <!-- PTA ID -->
          <td
            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200"
          >
            {{ slotProps.item.pta_id }}
          </td>
          <!-- Open Button -->
          <td
            class="px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap border-b border-gray-200"
          >
            <nuxt-link
              v-if="isWork"
              :to="
                localePath({
                  name: 'reader',
                  query: {
                    left: slotProps.item.urn,
                    right: ''
                  },
                })
              "
            >
              <Btn layout="outline" size="small" color="indigo">{{ $t('btn.open') }}</Btn>
            </nuxt-link>
            <nuxt-link
              v-if="isTextgroup"
              :to="
                localePath({
                  name: 'texts-urn',
                  params: {
                    urn: slotProps.item.urn,
                  },
                  query: {
                    filter: 'all',
                  },
                })
              "
            >
              <Btn layout="outline" size="small" color="indigo">{{ $t('btn.open') }}</Btn>
            </nuxt-link>
          </td>
        </template>
      </Table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Texts',
  transition: 'pageFade',
  data() {
    return {
      urn: this.$route.params.urn,
      isTextgroup: false,
      isWork: false,
      textgroup: null,
      work: null,
      works: null,
      versions: null,
      tableSort: {
        activeColumn: 'title',
        activeDirection: 'asc',
      },
    }
  },
  head() {
    return {
      title: this.windowTitle,
    }
  },
  async fetch() {
    let route = this.$route.params.urn
    
    // Check if CTS URN references textgroup or work
    if (route.includes('.')) {

      this.isWork = true
      // Retrieve CTS work including version(s)
      this.work = await this.$content('metadata/cts')
        .where({ 'urn' : this.$route.params.urn })
        .fetch()
      this.work = this.work[0]
      this.versions = this.filterTableItems()
    } else {

      this.isTextgroup = true
      // Retrieve CTS textgroup and its work(s)
      this.textgroup = await this.$content('metadata/cts')
        .where({ 'urn' : this.$route.params.urn })
        .only(['urn', 'type', 'group_name'])
        .fetch()
      this.textgroup = this.textgroup[0]
      this.works = await this.$content('metadata/cts')
        .where({ 'group_urn' : this.$route.params.urn })
        .fetch()
    }
  },
  computed: {
    pageTitle() {
      if (!this.$fetchState.pending) {
        if (this.isTextgroup) {
          const names = this.textgroup.group_name
          const locale = this.$i18n.locale
          let title = names[locale]
          return title
        }
        if (this.isWork) {
          return this.work.title
        }
      }
    },
    // Browser window title
    windowTitle() {
      if (!this.$fetchState.pending) {
        if (this.isTextgroup) return this.pageTitle + ' | ' + this.$t('site.title')
        if (this.isWork) return this.pageTitle + ' | ' + this.$t('site.title')
      }
    },
    // Return current table filter
    tableFilter() {
      return this.$route.query.filter
    },
    // Sets table layout based on data to be displayed
    tableLayout() {
      if (this.isTextgroup) {
        return [
          {
            name: 'title',
            label: 'header.table.title',
            sortable: true,
          },
          {
            name: 'manuscripts',
            label: 'header.table.manuscripts',
            sortable: false,
          },
          {
            name: 'editions',
            label: 'header.table.editions',
            sortable: false,
          },
          {
            name: 'translations',
            label: 'header.table.translations',
            sortable: false,
          },
          {
            name: 'pta',
            label: 'header.table.pta',
            sortable: true,
          },
        ]
      }
      if (this.isWork) {
        return [
          {
            name: 'title',
            label: 'header.table.title',
            sortable: true,
          },
          {
            name: 'pta',
            label: 'header.table.pta',
            sortable: false,
          },
        ]
      }
    },
    // Creates an array of strings of columns that have "sortable = true"
    filterableColumns() {
      let filterable = []
      let filterableNames = []
      filterable = this.tableLayout.filter((el) => el.sortable === true)
      for (let i = 0; i < filterable.length; i++) {
        filterableNames.push(filterable[i].name)
      }
      if (filterableNames !== null) return filterableNames
      return []
    }
  },
  watch: {
    tableFilter: function() {
      this.versions = this.filterTableItems()
    }
  },
  methods: {
    // Switch table filter category
    switchToFilter(newFilter) {
      this.$router.replace({
        path: this.localePath({
          name: 'texts-urn',
          params: {
            urn: this.$route.params.urn,
          },
          query: {
            filter: newFilter,
          },
        }),
      })
    },
    // Filter retrieved table items if filter category parameter is set (versions)
    filterTableItems() {
      switch (this.tableFilter) {
        case 'all':
          return this.work.work_items
          break
        case 'editions':
          let editions = this.work.work_items.filter( el => el.type === 'edition' )
          return editions
          break
        case 'manuscripts':
            let manuscripts = this.work.work_items.filter( el => el.type === 'manuscript' )
            return manuscripts          
          break
        case 'translations':
            let translations = this.work.work_items.filter( el => el.type === 'translation' )
            return translations
          break
        case 'default':
          return this.work.work_items
          break
      }
    },
    // Sort table rows ascending or descending
    sortTableRows(s) {
      //if s == current sort, reverse
      if (s === this.tableSort.activeColumn) {
        this.tableSort.activeDirection =
          this.tableSort.activeDirection === 'asc' ? 'desc' : 'asc'
      }
      this.tableSort.activeColumn = s
    },
    // Returns translated 'description' string or fallback string
    // TODO: Fallback hinzufügen
    translatedDescription(item) {
      return item[this.$i18n.locale]
    },
    manuscriptsCount(item) {
      if (item) {
        let manuscripts = item.work_items.filter( el => el.type === 'manuscript' )
        return manuscripts.length
      } else return 0
    },
    // Parse translation languages, return localized strings
    getTranslations(items) {
      let translations, languages, results = []
      translations = items.work_items.filter( el => el.type === 'translation' )
      if (translations) {
        translations.forEach( el => languages = this.$t(`language.${el.language}`) )
      }
      return languages
    },
    badgeCount(category) {
      if (this.work) {
        switch (category) {
          case 'all':
            return this.work.work_items.length
            break
          case 'editions':
            let editions = this.work.work_items.filter( el => el.type === 'edition' )
            return editions.length
            break
          case 'manuscripts':
            let manuscripts = this.work.work_items.filter( el => el.type === 'manuscript' )
            return manuscripts.length
          case 'translations':
            let translations = this.work.work_items.filter( el => el.type === 'translation' )
            return translations.length
          default:
            return 0
        }
      }
    }
  },
}
</script>

<style lang="css" scoped>
/* Grid */
.layout-post {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr);
}
/* Position these html elements into the second (middle) column */
section,
nav,
p,
h1,
h2,
span {
  grid-column: 2;
}
</style>
