<template>
  <div class="pb-12">
    <!-- Polygon Background -->
    <div
      class="bg-gray-100"
      style="
        height: 200px;
        clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 100%);
      "
    ></div>
    <!-- Content -->
    <div class="layout-post">
      <!-- Header -->
      <section id="header" class="z-10">
        <h1 class="-mt-32 text-4xl font-semibold">{{ $t('section.title.texts') }}</h1>
        <h2 class="text-xl text-gray-500">{{ $t('section.subtitle.texts') }}</h2>
      </section>
      <!-- Teaser -->
      <section id="teaser" class="pt-6 text-lg"></section>
      <!-- Navbar Collections -->
      <nav v-if="!$fetchState.pending" id="navCollections" class="flex flex-col justify-center pb-8 mt-4 md:flex-row">
        <nuxt-link :to="localePath('/texts')">
          <BtnBadge
            size="large"
            layout="outline"
            color="indigo"
            class="mx-1"
            :badge-count="textgroups.length"
          >{{ $t('btn.allAuthors') }}</BtnBadge>
        </nuxt-link>
        <BtnBadge
          disabled
          size="large"
          layout="transparent"
          color="indigo"
          class="mx-1"
          badge-count="0"
        >{{ $t('btn.newEditions') }}</BtnBadge>
        <BtnBadge
          disabled
          size="large"
          layout="transparent"
          color="indigo"
          class="mx-1"
          badge-count="0"
        >{{ $t('btn.gcsRetro') }}</BtnBadge>
      </nav>
    </div>
    <!-- Card Grid -->
    <LayoutTiles class="justify-center max-w-6xl p-12 pt-2 m-auto">
      <nuxt-link
        v-for="textgroup in textgroups"
        :key="textgroup.urn"
        :to="
          localePath({
            name: 'texts-urn',
            params: {
              urn: textgroup.urn,
            },
          })
        "
      >
        <Card :item="textgroup" class="m-6" />
      </nuxt-link>
    </LayoutTiles>
  </div>
</template>

<script>
export default {
  name: 'Textgroups',
  transition: 'pageFade',
  data() {
    return {
      textgroups: null
    }
  },
  head() {
    return {
      title: this.$t('section.title.texts') + ' | ' + this.$t('site.title'),
    }
  },
  async fetch() {
    this.textgroups = await this.$content('metadata/cts')
      .where({ 'type' : 'textgroup' })
      .only(['urn', 'type', 'group_name', 'pta_id', 'image_url', 'image_alt'])
      .fetch()
  }
}
</script>

<style lang="css" scoped>
.layout-post {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr);
}
/* position text paragraphs into the second (middle) column */
section,
nav,
p,
h1,
h2,
span {
  grid-column: 2;
}
</style>
