<template>
  <div class="mb-24">
    <!-- Polygon Background -->
    <div
      class="bg-gray-100"
      style="
        height: 200px;
        clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 100%);
      "
    ></div>
    <!-- Content -->
    <div class="layout-post">
      <!-- Header -->
      <section id="header" class="z-10">
        <h1 class="-mt-32 text-4xl font-semibold">{{ $t('section.title.imprint') }}</h1>
        <h2 class="text-xl text-indigo-700">{{ $t('section.subtitle.imprint') }}</h2>
      </section>
      <!-- Teaser -->
      <section class="pt-6 text-lg">
        <div class="link text" v-html="imprint" />
        <!-- TODO: iframe rauswerfen wenn Publikation auf BBAW Server (ohne CORS Issue) -->
        <iframe src="https://dschutz.bbaw.de" class="w-full" style="height: 1700px" />
      </section>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Imprint from '@/texts/de/imprint/imprint.md'

export default {
  name: 'Imprint',
  transition: 'pageFade',
  head() {
    return {
      title: this.pageTitle,
      text: null,
      privacyText: null
    }
  },
  async fetch() {
    axios.get('https://dschutz.bbaw.de', {
    	headers: {
	  'Access-Control-Allow-Origin': '*',
	},
    })
  .then((response) => {
    console.log(response.data)
    this.privacyText = response.data
  });
  },
  data() {
    return {
    }
  },
  computed: {
    // Return imprint markdown as HTML
    imprint() {
        return Imprint
    },
    // Creates a title string for browser window
    pageTitle() {
        return this.$t('navbar.imprint') + ' | ' + this.$t('site.title')
    },
  }
}
</script>

<style lang="css" scoped>
.layout-post {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr);
}
/* position text paragraphs into the second (middle) column */
section,
p,
h1,
h2,
span {
  grid-column: 2;
}

/* position images to take up all three columns */
img {
  grid-column: 1 / 4;
  width: 100%;
  max-width: 100ch;
  justify-self: center;
}

.text >>> h2 {
  font-size: 1rem;
  font-weight: 600;
}

>>> p {
  margin-bottom: 20px;
}

>>> a {
  -webkit-box-shadow: inset 0 -0.7rem 0 0 rgba(178, 245, 234, 0.6);
  box-shadow: inset 0 -0.7rem 0 0 rgba(178, 245, 234, 0.6);
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  cursor: pointer;
}

>>> a:hover {
  -webkit-box-shadow: inset 0 -2.5rem 0 0 rgba(178, 245, 234, 0.8);
  box-shadow: inset 0 -2.5rem 0 0 rgba(178, 245, 234, 0.8);
}
</style>
