@font-face {
    font-family: 'Literata';
    font-style:  normal;
    font-display: swap;
    src: url("~assets/fonts/Literata-VariableFont_wght.ttf") format("truetype")
  }

  @font-face {
    font-family: 'Literata';
    font-style:  italic;
    font-display: swap;
    src: url("~assets/fonts/Literata-Italic-VariableFont_wght.ttf") format("truetype")
  }