/* purgecss start ignore */

.vue-progress-path path {
    stroke-width: 4;
  }
  
  .vue-progress-path .progress {
    stroke: #4FD1C5;
  }
  
  .vue-progress-path .background {
    stroke: #E2E8F0;
  }

  /* purgecss end ignore */