/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* purgecss start ignore */

/* Transition: Element fade (e.g. dropdowns) */
.pageFade-enter-active {
  @apply transition duration-100 ease-out;
}

.pageFade-leave-active {
  @apply transition duration-75 ease-in;
}

.pageFade-enter,
.pageFade-leave-active {
  opacity: 0;
}

/* Transition: Element fade (e.g. dropdowns) */
.fade-enter-active {
  @apply transition duration-100 ease-out;
}
.fade-enter,
.fade-leave-to {
  @apply transform scale-95 opacity-0;
}
.fade-enter-to,
.fade-leave {
  @apply transform scale-100 opacity-100;
}
.fade-leave-active {
  @apply transition duration-75 ease-in;
}

.bg-gray-50 {
    background-color: #f9fafb;
  }

.bg-indigo-50 {
  background-color: #f0f5ff;
}

.py-0\.5 {
  padding-top: .125rem;
  padding-bottom: .125rem;
}

/* V-Tooltip Classes */
.tooltip {
  display: block !important;
  z-index: 10000;
  font-size: 0.8rem
}

.tooltip .tooltip-inner {
  background: #2D3748;
  color: white;
  border-radius: 0.375rem;
  padding: 5px 10px 4px;
  max-width: 300px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='bottom'] {
  margin-top: 5px;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='right'] {
  margin-left: 5px;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^='left'] {
  margin-right: 5px;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  @apply bg-gray-800 text-white font-sans text-sm
}

.tooltip.popover .popover-arrow {
  border-color: #2D3748;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

.bg-indigo-700 {
background-color: #4C51BF;
}

.bg-indigo-200 {
  background-color: #C3DAFE;
}

.bg-indigo-200:hover {
  background-color: #C3DAFE;
}

.bg-indigo-400 {
  background-color: #7F9CF5;
}

.bg-indigo-400:hover {
  background-color: #7F9CF5;
}

/* purgecss end ignore */