<template>
  <div class="min-h-screen">
    <!-- Polygon Background -->
    <div
      class="bg-white"
      style="
        height: 200px;
        clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 100%);
      "
    ></div>
    <!-- Content -->
    <div class="bg-gray-100 layout-post">
      <!-- Header -->
      <section id="header" class="z-10">
        <h1 class="-mt-32 text-4xl font-semibold">{{ $t('section.title.search') }}</h1>
        <h2 class="text-xl text-indigo-700">{{ $t('section.subtitle.search') }}</h2>
      </section>
      <!-- Teaser -->
      <section id="teaser" class="pt-6 text-lg">
        <!-- Input Field -->
        <div class="relative inline-block w-1/2 ml-3 flex-shrink-1 lg:ml-0">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg fill="none" viewBox="0 0 24 24" class="w-6 h-6 text-gray-600">
              <path
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                stroke-linecap="round"
                stroke-width="2"
                stroke="currentColor"
              />
            </svg>
          </span>
          <input
            v-model="q"
            :placeholder="$t('input.fulltext')"
            @keyup.enter="$fetch"
            class="block w-full py-2 pl-10 pr-4 text-sm text-gray-900 placeholder-gray-600 transition duration-150 ease-in-out border border-gray-400 rounded-md h-11 focus:border-indigo-500"
          />
          <!--           <input
            v-show="!keyboardActive"
            ref="inputfield"
            id="keyboardInactive"
            :placeholder="$t('input.fulltext')"
            v-model="input1"
            class="block w-full py-2 pl-10 pr-4 text-sm text-gray-900 placeholder-gray-600 transition duration-150 ease-in-out border border-gray-400 rounded-md h-11 focus:border-indigo-500"
          />-->
        </div>
        <!-- Search Button -->
        <Btn size="large" layout="filled" color="indigo" class="inline-block" @click="$fetch">
          {{
          $t('btn.search')
          }}
        </Btn>
        <!-- Virtual Keyboard Button -->
        <Btn
          v-tooltip="$t('tooltip.keyboard')"
          size="large"
          color="indigo"
          class="inline-block"
          :class="keyboardActivated"
          @click="toggleKeyboard"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="inline-block w-6 h-6 text-indigo-700 fill-current"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M4 5v14h16V5H4zM3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm3 4h2v2H6V7zm0 4h2v2H6v-2zm0 4h12v2H6v-2zm5-4h2v2h-2v-2zm0-4h2v2h-2V7zm5 0h2v2h-2V7zm0 4h2v2h-2v-2z"
            />
          </svg>
          <span class="inline-block font-medium">Keyboard</span>
        </Btn>
      </section>
      <!-- Results -->
      <section>
        <div class="py-24">
          <div v-if="$fetchState.pending">
            Datensätze werden geladen... bitte warten
          </div>
          <div v-else>
            <!-- Total results -->
            <div v-if="results.length > 0" class="flex justify-center mb-8 text-xl font-semibold">
              <span class="mr-1"><span class="border-b-4 border-teal-200">{{ results.length }} {{$t('header.search.items')}}</span> {{$t('header.search.forQuery')}}</span><span class="px-1 font-medium border-b-4 border-teal-200 border-dotted">{{q}}</span>
            </div>
            <div v-for="item in results" class="py-3">
              <CardSearch :item="item" :q="q" />
            </div>
          </div>
        </div>
      </section>
      <!-- Virtual Keyboard -->
      <SimpleKeyboard />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  name: 'Search',
  transition: 'pageFade',
  data() {
    return {
      input1: null,
      keyboardActive: false,
      results: [],
      q: ''
    }
  },
  async fetch() {
     let payload = await this.$content('metadata/tei')
      .search('content', this.q)
      .fetch()

      if (!payload) {
        this.results = []
      }
      else this.results = payload
  },
  computed: {
    keyboardActivated() {
      if (this.keyboardActive) return 'bg-indigo-100'
    },
  },
  created() {},
  head() {
    return {
      title: this.$t('section.title.search') + ' | ' + this.$t('site.title'),
    }
  },
  methods: {
    toggleKeyboard() {
      const active = this.keyboardActive
      if (!active) {
        this.keyboardActive = true
        this.$refs.inputfield.focus()
      } else this.keyboardActive = false
    },
    showKeyboard() {
      if (this.keyboardActive) this.vk_show
    },
    displayHit(item) {
      if (item) {
        const q = this.q
        const q_highlighted = `<span class="bg-teal-200">${q}</span>`
        const position = item.search(this.q)
        
        let hit = item.substring(position, position + 200)
        let hit_el = `<div>${hit}</div>`
        var hit_element = new DOMParser().parseFromString(hit_el, "text/xml")
        let regex = new RegExp(q, 'gi')
        hit_element.firstChild.innerHTML = hit_element.firstChild.innerHTML.replace(regex, q_highlighted)
        return '... ' + hit_element.firstChild.innerHTML + '...'
      }
    },
    ...mapMutations('virtual-keyboard', ['vk_show', 'vk_hide']),
  },
}
</script>

<style lang="css" scoped>
.layout-post {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr);
}
/* position text paragraphs into the second (middle) column */
section,
div,
p,
h1,
h2,
span {
  grid-column: 2;
}

/* position images to take up all three columns */
img {
  grid-column: 1 / 4;
  width: 100%;
  max-width: 100ch;
  justify-self: center;
}
</style>
