<template>
  <section id="footer" class="justify-center p-8 text-white bg-gray-900 layout-post">
    <!-- Sitemap -->
    <div id="sitemap" class="md:w-full">
      <div class="flex-wrap mb-8 md:flex md:max-w-3xl md:justify-center md:mx-auto">
        <!-- Texts -->
        <div class="flex-1 my-4 text-center md:text-left md:m-0">
          <span
            class="text-xs font-semibold tracking-wider text-gray-500 uppercase"
          >{{ navbar[0].name }}</span>
          <nuxt-link
            :to="localePath('texts')"
            class="block text-sm font-semibold text-white hover:text-indigo-300"
          >{{$t('navbar.allAuthors')}}</nuxt-link>
          <nuxt-link
            :to="localePath('texts')"
            class="block text-sm font-semibold text-white hover:text-indigo-300"
          >{{$t('navbar.newEditions')}}</nuxt-link>
          <nuxt-link
            :to="localePath('texts')"
            class="block text-sm font-semibold text-white hover:text-indigo-300"
          >{{$t('navbar.gcs')}}</nuxt-link>
        </div>
        <!-- Manuscripts -->
        <div class="flex-1 my-4 text-center md:text-left md:m-0">
          <span
            class="text-xs font-semibold tracking-wider text-gray-500 uppercase"
          >{{ navbar[1].name }}</span>
          <nuxt-link
            :to="localePath('manuscripts')"
            class="block text-sm font-semibold text-white hover:text-indigo-300"
          >{{$t('navbar.allManuscripts')}}</nuxt-link>
        </div>
        <!-- Project -->
        <div class="flex-1 my-4 text-center md:text-left md:m-0">
          <span
            class="text-xs font-semibold tracking-wider text-gray-500 uppercase"
          >{{ navbar[2].label }}</span>
          <div v-for="item in navbar[2].children" :key="item.path">
            <nuxt-link
              :to="localePath({name: 'project-category', params: { category: item.path }})"
              class="block text-sm font-semibold text-white hover:text-indigo-300"
            >{{item.name}}</nuxt-link>
          </div>
        </div>
        <!-- Search -->
        <div class="flex-1 my-4 text-center md:text-left md:m-0">
          <span
            class="text-xs font-semibold tracking-wider text-gray-500 uppercase"
          >{{$t('navbar.search')}}</span>
          <nuxt-link
            :to="localePath('search')"
            class="block text-sm font-semibold text-white hover:text-indigo-300"
          >{{$t('navbar.fulltextSearch')}}</nuxt-link>
        </div>
      </div>
    </div>
    <!-- BBAW Logo and Project information -->
    <div class="md:flex md:items-center">
      <img
        src="@/assets/images/logo_bbaw_text.svg"
        class="h-20 mx-auto text-white fill-current md:flex-initial md:mr-6"
        alt="Logo BBAW"
      />
      <div class="pt-4 text-xs text-left whitespace-normal md:pt-0 md:flex-1">
        <a
          href="https://bibelexegese.bbaw.de"
          target="blank"
          rel="noopener"
          class="text-white hover:text-indigo-300"
        >
          »Die alexandrinische und antiochenische Bibelexegese in der
          Spätantike«
        </a>ist ein Akademienvorhaben der
        <a
          href="https://www.bbaw.de"
          target="blank"
          rel="noopener"
          class="text-white hover:text-indigo-300"
        >Berlin-Brandenburgischen Akademie der Wissenschaften</a>
      </div>
    </div>
    <!-- Imprint & Privacy -->
    <div class="flex mt-4">
      <nuxt-link
        :to="localePath('imprint')"
        class="justify-center mx-auto text-xs text-white hover:text-indigo-300"
      >{{$t('navbar.imprint')}}</nuxt-link>
    </div>
  </section>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
export default {
  name: 'Footer',
  computed: {
    navbar() {
      return this.navMain[`${this.$i18n.locale}`]
    },
    ...mapState(['navMain']),
  }
}
</script>

<style lang="css" scoped>
.layout-post {
  display: grid;
  justify-items: center;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr)
    minmax(1.2rem, 1fr);
}
/* position text paragraphs into the second (middle) column */
section,
p,
h1,
h2,
div,
img,
span {
  grid-column: 3;
}

#sitemap {
  grid-column: 2/5;
  justify-self: center;
}
</style>
