<template>
  <div class="layout-tiles">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'LayoutTiles',
}
</script>

<style scoped>
.layout-tiles {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}
</style>
