<template>
  <nav class="bg-white">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <!-- Logo -->
            <nuxt-link to="/">
              <img class="h-8" :src="imagePath('images/logo.svg')" alt="Logo" />
            </nuxt-link>
          </div>
          <!-- Desktop -->
          <div class="hidden md:block">
            <!-- Left-aligned buttons -->
            <div class="flex items-baseline ml-10">
              <nuxt-link
                :to="localePath('texts')"
                class="px-3 py-2 ml-4 text-sm font-medium text-indigo-700 rounded-md hover:bg-indigo-100 focus:outline-none focus:text-white focus:bg-indigo-700"
              >{{ $t('navbar.texts') }}</nuxt-link>
              <nuxt-link
                :to="localePath('manuscripts')"
                class="px-3 py-2 ml-4 text-sm font-medium text-indigo-700 rounded-md hover:bg-indigo-100 focus:outline-none focus:text-white focus:bg-indigo-700"
              >{{ $t('navbar.manuscripts') }}</nuxt-link>
              <div class="relative">
                <div>
                  <button
                    class="px-3 py-2 ml-4 text-sm font-medium text-indigo-700 rounded-md hover:bg-indigo-100 focus:outline-none focus:text-white focus:bg-indigo-700"
                    @click="isProjectOpen = !isProjectOpen"
                  >
                    <span class="inline-block text-sm font-medium">{{ $t('navbar.project') }}</span>
                  </button>
                </div>
                <button
                  v-if="isProjectOpen"
                  tabindex="-1"
                  class="fixed inset-0 z-20 w-full h-full cursor-default"
                  @click="isProjectOpen = false"
                ></button>
                <transition name="fade">
                  <div
                    v-show="isProjectOpen"
                    class="absolute right-0 z-20 w-48 mt-2 origin-top-right rounded-md shadow-lg"
                  >
                    <div class="py-1 bg-white rounded-md shadow-xs">
                      <div v-for="item in projects" :key="item.path">
                        <nuxt-link
                          :to="localePath({ name: 'project-category', params: { category: item.path }})"
                        >
                          <span
                            class="block px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100"
                            v-html="projectDropdownItem(item.path)"
                          />
                        </nuxt-link>
                      </div>
                    </div>
                  </div>
                </transition>
              </div>
            </div>
          </div>
        </div>
        <!-- Right-aligned buttons -->
        <div class="hidden md:block">
          <div class="flex items-center ml-4 md:ml-6">
            <!-- Search -->
            <nuxt-link :to="localePath('search')">
              <button
                class="p-1 text-indigo-700 border-2 border-transparent rounded-full hover:text-indigo-500 focus:outline-none focus:text-white focus:bg-gray-700"
              >
                <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  />
                </svg>
              </button>
            </nuxt-link>
            <!-- Languages -->
            <div class="relative ml-3">
              <div>
                <button
                  class="p-1 mb-1 text-indigo-700 border-2 border-transparent rounded-full hover:text-indigo-500 focus:outline-none focus:text-indigo-700"
                  @click="isOpen = !isOpen"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    class="inline-block w-5 h-5"
                  >
                    <path
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                  <span class="inline-block text-xs font-medium">
                    {{
                    this.$i18n.locale | uppercase
                    }}
                  </span>
                </button>
              </div>
              <button
                v-if="isOpen"
                tabindex="-1"
                class="fixed inset-0 z-20 w-full h-full cursor-default"
                @click="isOpen = false"
              ></button>
              <transition name="fade">
                <div
                  v-show="isOpen"
                  class="absolute right-0 z-20 w-48 mt-2 origin-top-right rounded-md shadow-lg"
                >
                  <div class="py-1 bg-white rounded-md shadow-xs">
                    <div v-for="locale in availableLocales" :key="locale.code">
                      <span
                        class="block px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100"
                        @click="$i18n.setLocale(locale.code)"
                      >{{ locale.name }}</span>
                    </div>
                  </div>
                </div>
              </transition>
            </div>
          </div>
        </div>
        <!-- Mobile Hamburger Button -->
        <div class="flex -mr-2 md:hidden">
          <button
            class="inline-flex items-center justify-center p-2 text-gray-400 rounded-md hover:text-indigo-700 hover:bg-indigo-100 focus:outline-none focus:bg-indigo-100 focus:text-indigo-700"
            @click="isOpen = !isOpen"
          >
            <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path
                :class="{ hidden: isOpen, 'inline-flex': !isOpen }"
                class="inline-flex"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
              <path
                :class="{ hidden: !isOpen, 'inline-flex': isOpen }"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div id="test" :class="{ block: isOpen, hidden: !isOpen }" class="z-20 shadow-md md:hidden">
      <div class="px-2 pt-2 pb-3 sm:px-3">
        <nuxt-link
          :to="localePath('texts')"
          class="block px-3 py-2 mt-1 text-base font-medium text-indigo-700 rounded-md hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-gray-700"
        >{{ $t('navbar.about') }}</nuxt-link>
        <nuxt-link
          :to="localePath('manuscripts')"
          class="block px-3 py-2 mt-1 text-base font-medium text-indigo-700 rounded-md hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-gray-700"
        >{{ $t('navbar.manuscripts') }}</nuxt-link>
        <nuxt-link
          :to="localePath({ name: 'project-category', params: { category: 'about' }})"
          class="block px-3 py-2 mt-1 text-base font-medium text-indigo-700 rounded-md hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-gray-700"
        >{{ $t('navbar.project') }}</nuxt-link>
      </div>
      <div class="pt-4 pb-3 border-t border-gray-300">
        <div class="flex items-center px-5">
          <div class="flex-shrink-0"></div>
          <div>
            <div
              class="text-sm font-medium leading-none text-gray-500"
            >{{ $t('navbar.availableLanguages') }}</div>
          </div>
        </div>
        <div class="px-2 mt-3 shadow-md">
          <div
            v-for="locale in availableLocales"
            :key="locale.code"
            @click="$i18n.setLocale(locale.code)"
          >
            <span
              class="block px-3 py-2 text-base font-medium text-indigo-700 rounded-md hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-gray-700"
            >{{ locale.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  components: {},
  filters: {
    uppercase: function (value) {
      if (!value) {
        return ''
      }

      return value.toString().toUpperCase()
    },
  },
  props: {
    /**
     * Array of objects containing button structure.
     * Simple buttons expect keys 'name' and 'path'.
     * Dropdown buttons expect keys 'name' and 'children' (no 'path' on root level), with nested items expecting 'name' and 'path' keys.
     */
    items: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      isOpen: false,
      isProjectOpen: false,
      projects: [
          {
            path: 'about',
          },
          {
            path: 'encoding-guidelines',
          },
          {
            path: 'contributing',
          },
          {
            path: 'downloads',
          },
          {
            path: 'contact',
          },
        ],
    }
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales
    }
  },
  methods: {
    // Return localized project dropdown name
    projectDropdownItem(path) {
      if (path) {
        return this.$t(`navbar.${path}`)
      }
      else return ''
    },
    // Request image as a webpack module by using `require`
    imagePath(filename) {
      if (!filename) {
        return
      }
      var path
      try {
        path = require(`@/assets/${filename}`)
      } catch (e) {
        console.log(
          '😨Navbar component error: Cannot find image file at path',
          filename,
          'in @assets folder.'
        )
        // throw e;
      }
      return path
      // return require(`@/assets/${filename}`);
    },
    // Checks if button link equals active route
    isActivePath(path) {
      let localePath = path + '___' + this.$i18n.locale
      if (localePath === this.$route.name) return true
    },
  },
}
</script>
