<template>
  <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-1 lg:-mx-8 lg:px-8">
    <!-- Counter -->
    <h2 v-if="!items" class="flex justify-center pb-4 text-xl font-semibold">
      <span class="ml-1">Wird geladen</span>
    </h2>
    <h2 v-else class="flex justify-center pb-4 text-xl font-semibold">
      <span
        v-if="itemsFiltered.length === 1"
        class="border-b-4 border-teal-200"
      >{{ itemsFiltered.length }} {{ $t('header.table.item') }}</span>
      <span
        v-else
        class="border-b-4 border-teal-200"
      >{{ itemsFiltered.length }} {{ $t('header.table.items') }}</span>
      <span class="ml-1">{{ $t('header.table.found') }}</span>
    </h2>

    <!-- Category Filters -->
    <nav id="navFilters" class="flex flex-col justify-center px-6 pb-8 mt-4 md:px-0 md:flex-row">
      <slot name="categories" />
    </nav>

    <!-- Text Filter -->
    <div v-if="filter" class="flex justify-center pb-4 mb-3 xs:w-10">
      <div class="relative bg-white border rounded">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <svg viewBox="0 0 24 24" class="w-4 h-4 text-gray-600 fill-current">
            <path
              d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"
            />
          </svg>
        </span>
        <input
          id="grid-first-name"
          v-model="filterQuery"
          class="w-full px-2 py-3 pl-2 ml-5 text-sm leading-tight text-gray-800 bg-transparent appearance-none sm:ml-0 sm:px-4 sm:pl-8 focus:outline-none focus:text-gray-900"
          type="text"
          :placeholder="$t('input.filterDocuments')"
        />
        <!-- Filter Column Dropdown -->
        <div v-if="false" class="inline-block text-left xs:pl-2 sm:pl-8">
          <div>
            <span>
              <button
                v-if="filterableColumns.length > 1"
                type="button"
                class="inline-flex justify-center w-full px-3 py-3 text-xs font-medium leading-5 text-gray-700 transition duration-150 ease-in-out hover:text-indigo-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
                @click="menuFilterTypeOpen = !menuFilterTypeOpen"
              >
                {{ $t(`header.table.${currentFilterColumn}`) }}
                <svg
                  class="w-5 h-5 ml-2 -mr-1"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </span>
          </div>

          <!-- Button Invisible Closing Layer  -->
          <!-- TODO: Add close method -->
          <button
            v-if="menuFilterTypeOpen"
            tabindex="-1"
            class="fixed inset-0 z-20 w-full h-full cursor-default"
            @click="menuFilterTypeOpen = false"
          ></button>
          <!-- Dropdown Content -->
          <div
            v-show="menuFilterTypeOpen"
            class="absolute right-0 z-30 w-56 mt-2 origin-top-right rounded-md shadow-lg cursor-pointer"
          >
            <div class="bg-white rounded-md shadow-xs">
              <div v-for="item in filterableColumns" :key="item" class="py-1">
                <a
                  class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                  @click="setFilterColumn(item)"
                >{{ $t(`header.table.${item}`) }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-300 shadow sm:rounded-lg"
    >
      <transition name="fadeTable">
        <table class="min-w-full">
          <!-- Table Header -->
          <thead>
            <tr>
              <!-- @slot Table header content -->
              <slot name="header" />
            </tr>
          </thead>

          <!-- Table Rows -->
          <tbody v-if="sortedItems" class="bg-white">
            <tr v-for="item in sortedItems" :key="item[keyName]" :class="rowClassName">
              <!-- @slot Table row content with exposed item data property -->
              <slot name="items" :item="item" />
            </tr>
            <!-- Fallback display when no data present -->
            <tr v-if="itemsFiltered.length === 0">
              <td colspan="2" class="flex w-full p-10 pl-6">{{ $t('header.table.nodata') }}</td>
            </tr>
          </tbody>
        </table>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Table',
  filters: {
    uppercase: function (value) {
      if (!value) {
        return ''
      }

      return value.toString().toUpperCase()
    },
  },
  props: {
    /**
     * Add hover background color to table rows
     */
    hover: Boolean,
    /**
     * Add mouse cursor pointer to table rows
     */
    clickable: Boolean,
    /**
     * Table row data
     */
    items: {
      type: Array,
      default: () => [],
    },
    /**
     * Optional custom :key identifier for v-for loop
     */
    keyName: {
      type: String,
      default: 'id',
    },
    /**
     * Enables filter input field
     */
    filter: {
      type: Boolean,
      default: false,
    },
    /**
     * Sets the column name to be filtered against (based on column key name)
     */
    filterByColumn: {
      type: String,
      default: '',
      required: false,
    },
    /**
     * Array with names of filterable column header names
     */

    filterableColumns: {
      type: Array,
      default: [],
      required: false,
    },
    /**
     * Column to be currently sorted by
     */
    sortColumn: {
      type: String,
      default: 'title',
    },
    /**
     * Sorting direction (ascending, descending)
     */
    sortDirection: {
      type: String,
      default: 'desc',
    },
    /**
     * Function to be called when user clicks row
     */
    onRowClick: Function,
    /**
     * Sets maximum height of table element. Table content will scroll vertically if not given enough height.
     */
    maxHeight: [String, Number],
  },
  data() {
    return {
      filterQuery: '',
      currentFilterColumn: 'title',
      menuFilterTypeOpen: false,
    }
  },
  computed: {
    sortedItems() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.itemsFiltered.sort((a, b) => {
        let modifier = 1
        if (this.sortDirection === 'desc') modifier = -1
        if (a[this.sortColumn] < b[this.sortColumn]) return -1 * modifier
        if (a[this.sortColumn] > b[this.sortColumn]) return 1 * modifier
        return 0
      })
    },
    /**
     * Filters list of items based on user input
     */
    itemsFiltered() {
      const filter = new RegExp(this.filterQuery, 'i')
      const column = this.filterByColumn
      let filteredItems = null
      switch (column) {
        // Filter 'title' key when displaying textgroup component data
        case 'title':
          // filteredItems = this.items
          filteredItems = this.items.filter((el) => el['title'].match(filter))
          break
        // Filter 'description' key when displaying work component data
        case 'description':
          filteredItems = this.items.filter((el) => el['description'][this.$i18n.locale].match(filter))
          break
      }
      if (filteredItems !== null) return filteredItems
      return []
    },
    /**
     * Sets maximum table height in pixels
     */
    tableStyle() {
      const { maxHeight } = this
      if (!maxHeight) return null
      return {
        maxHeight: `${maxHeight}px`,
      }
    },
    /**
     * Sets hover and cursor CSS
     */
    rowClassName() {
      const { clickable, hover } = this
      return {
        'hover:bg-gray-100': hover,
        'cursor-pointer': clickable,
      }
    },
  },
  methods: {
    createRoute(path) {
      if (path === null) return '#'
      const route = 'text/' + path
      return route
    },
    /**
     * Fired when row is clicked. Emits row item object.
     */
    handleRowClick(data) {
      this.$emit('onRowClick', data)
      // @TODO remove later
      const { onRowClick } = this
      if (onRowClick) onRowClick(data)
    },
    setFilterColumn(name) {
      if (name) {
        this.currentFilterColumn = name
        this.filterByColumn = name
      }
    },
  },
}
</script>
