<template>
  <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-1 lg:-mx-8 lg:px-8">
    <!-- Row Filter -->
    <div
      v-if="filter"
      class="relative hidden md:w-1/2 sm:w-full lg:w-1/3 xl:w-1/4 lg:block"
    >
      <span class="absolute inset-y-0 left-0 flex items-center pl-2">
        <svg viewBox="0 0 24 24" class="w-5 h-5 text-gray-600 fill-current">
          <path
            d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"
          />
        </svg>
      </span>
      <input
        id="grid-first-name"
        v-model="filterQuery"
        class="block w-full px-4 py-3 pl-8 mb-3 text-sm leading-tight text-gray-800 bg-white border rounded appearance-none focus:outline-none focus:text-gray-900"
        type="text"
        :placeholder="$t('input.filterDocuments')"
      />
    </div>
    <div
      class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
    >
      <!-- Table -->
      <table class="min-w-full">
        <thead>
          <tr>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
            >
              {{ $t('header.table.document') }}
            </th>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
            >
              {{ $t('header.table.manuscripts') }}
            </th>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
            >
              {{ $t('header.table.translations') }}
            </th>
            <th
              class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
            >
              {{ $t('header.table.pta') }}
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
          </tr>
        </thead>
        <tbody v-if="sortedItems" class="bg-white">
          <tr v-for="item in sortedItems" :key="item.pta">
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 w-10 h-10">
                  <img
                    class="w-10 h-10 rounded-full"
                    src="@/assets/images/athanasius.jpg"
                    alt
                  />
                </div>
                <div class="ml-4">
                  <div class="text-sm font-medium leading-5 text-gray-900">
                    {{ item.title }}
                  </div>
                  <div class="text-sm leading-5 text-gray-500">
                    {{ item.collection }}
                  </div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">0</div>
              <!--                   <div class="text-sm leading-5 text-gray-500">
                    Human Resources
              </div>-->
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div v-for="language in item.translations" :key="language">
                <span
                  class="inline-flex px-2 text-xs font-semibold leading-5 text-teal-800 bg-teal-100 rounded-full"
                  >{{ $t(translate(language)) }}</span
                >
              </div>
            </td>
            <td
              class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200"
            >
              {{ item.pta | uppercase }}
            </td>
            <td
              class="px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap border-b border-gray-200"
            >
              <nuxt-link
                :to="
                  localePath({
                    name: 'reader-namespace-work-version',
                    params: {
                      namespace: item.cts.namespace,
                      work: item.cts.work,
                      version: item.cts.version,
                    },
                  })
                "
              >
                <Btn layout="transparent" size="medium" color="indigo">
                  {{ $t('btn.open') }}
                </Btn>
              </nuxt-link>
            </td>
          </tr>
          <!-- Fallback display when no data present -->
          <tr v-if="itemsFiltered.length === 0">
            <td colspan="2" class="flex w-full p-10 pl-6">
              Keine Daten verfügbar.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
/**
 * Responsive, customizable data table.
 * @displayName Data Table
 */
import Btn from '@/components/atoms/Btn'
export default {
  name: 'TableZotero',
  filters: {
    uppercase: function (value) {
      if (!value) {
        return ''
      }

      return value.toString().toUpperCase()
    },
  },
  components: {
    Btn,
  },
  props: {
    /**
     * Add hover background color to table rows
     */
    hover: Boolean,
    /**
     * Add mouse cursor pointer to table rows
     */
    clickable: Boolean,
    /**
     * Table row data
     */
    items: {
      type: Array,
      default: () => [],
    },
    /**
     * Optional custom :key identifier for v-for loop
     */
    keyName: {
      type: String,
      default: 'id',
    },
    /**
     * Enables filter input field
     */
    filter: {
      type: Boolean,
      default: false,
    },
    /**
     * Sets the column name to be filtered against (based on column key name)
     */
    filterByColumn: {
      type: String,
      default: '',
      required: false,
    },
    /**
     * Column to be currently sorted by
     */
    sortColumn: {
      type: String,
      default: 'title',
    },
    /**
     * Sorting direction (ascending, descending)
     */
    sortDirection: {
      type: String,
      default: 'desc',
    },
    /**
     * Function to be called when user clicks row
     */
    onRowClick: Function,
    /**
     * Sets maximum height of table element. Table content will scroll vertically if not given enough height.
     */
    maxHeight: [String, Number],
  },
  data() {
    return {
      filterQuery: '',
    }
  },
  computed: {
    sortedItems() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.itemsFiltered.sort((a, b) => {
        let modifier = 1
        if (this.sortDirection === 'desc') modifier = -1
        if (a[this.sortColumn] < b[this.sortColumn]) return -1 * modifier
        if (a[this.sortColumn] > b[this.sortColumn]) return 1 * modifier
        return 0
      })
    },
    /**
     * Filters list of items based on user input
     */
    itemsFiltered() {
      const filter = new RegExp(this.filterQuery, 'i')
      // const column = this.filterByColumn
      const filteredItems = this.items.filter((el) => el.title.match(filter))
      if (filteredItems !== null) return filteredItems
      return []
    },
    /**
     * Sets maximum table height in pixels
     */
    tableStyle() {
      const { maxHeight } = this
      if (!maxHeight) return null
      return {
        maxHeight: `${maxHeight}px`,
      }
    },
    /**
     * Sets hover and cursor CSS
     */
    rowClassName() {
      const { clickable, hover } = this
      return {
        'hover:bg-gray-100': hover,
        'cursor-pointer': clickable,
      }
    },
  },
  methods: {
    createRoute(path) {
      if (path === null) return '#'
      const route = 'text/' + path
      return route
    },
    /**
     * Fired when row is clicked. Emits row item object.
     */
    handleRowClick(data) {
      this.$emit('onRowClick', data)
      // @TODO remove later
      const { onRowClick } = this
      if (onRowClick) onRowClick(data)
    },
    translate(l) {
      if (l === null) return ''
      if (l === 'gr') return 'language.gr'
      if (l === 'de') return 'language.de'
    },
  },
}
</script>
