<template>
  <nav v-if="!$fetchState.pending" class="flex items-center text-sm font-medium leading-5">
    <!-- Level 0: Texts -->
    <nuxt-link
      :to="localePath('texts')"
      v-tooltip="$t('tooltip.allTexts')"
      class="text-gray-500 transition duration-150 ease-in-out hover:text-gray-700 focus:outline-none focus:underline"
    >{{ $t('breadcrumbs.texts') }}</nuxt-link>

    <!-- Level 1: Textgroup -->
    <!-- Chevron Icon -->
    <svg
      v-if="isWork"
      class="flex-shrink-0 w-5 h-5 mx-2 text-gray-400"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        fill-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        clip-rule="evenodd"
      />
    </svg>
    <!-- Link -->
    <nuxt-link
      v-if="isWork"
      v-tooltip="$t('tooltip.textgroup')"
      :to="
        localePath({
          name: 'texts-urn',
          params: { urn: textgroup.urn },
        })
      "
      class="text-gray-500 transition duration-150 ease-in-out hover:text-gray-700 focus:outline-none focus:underline"
    >
      <div class="truncate w-28 md:max-w-lg">{{ textgroup.group_name.de }}</div>
    </nuxt-link>

    <!-- Level 2: Work -->
    <!-- Chevron Icon -->
    <svg
      v-if="isVersion"
      class="flex-shrink-0 w-5 h-5 mx-2 text-gray-400"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        fill-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        clip-rule="evenodd"
      />
    </svg>

    <!-- Level 2 -->
    <nuxt-link
      v-if="isVersion"
      v-tooltip="$t('tooltip.work')"
      :to="
        localePath({
          name: 'texts-urn',
          params: { urn: work.urn },
        })
      "
      class="text-gray-500 transition duration-150 ease-in-out hover:text-gray-700 focus:outline-none focus:underline"
    >
      <div class="w-40 truncate">{{ work.title }}</div>
    </nuxt-link>
  </nav>
</template>

<script>
export default {
  name: 'Breadcrumbs',
  data() {
    return {
      isTextgroup: false,
      isWork: false,
      isVersion: false,
      textgroup: null,
      work: null
    }
  },
  async fetch() {
    let route = ''
    switch (this.$route.name) {
      case 'texts-urn':
        route = this.$route.params.urn
        if (route.includes('.')) {
          this.isWork = true
          // Retrieve CTS work including version(s)
          this.work = await this.$content('metadata/cts')
            .where({ 'urn' : route })
            .fetch()
          this.work = this.work[0]
          // Retrieve CTS textgroup
          this.textgroup = await this.$content('metadata/cts')
            .where({ 'urn' : this.work.group_urn })
            .only(['urn', 'type', 'group_name'])
            .fetch()
          this.textgroup = this.textgroup[0]
        } else {
          this.isTextgroup = true
          // Retrieve CTS textgroup
          this.textgroup = await this.$content('metadata/cts')
            .where({ 'urn' : route })
            .only(['urn', 'type', 'group_name'])
            .fetch()
          this.textgroup = this.textgroup[0]
        }
        break
      case 'reader':
        route = this.$route.query.left.split('.').slice(0,2).join('.')
        this.isVersion = true
        this.isWork = true
        // Retrieve CTS work including version(s)
        this.work = await this.$content('metadata/cts')
          .where({ 'urn' : route })
          .fetch()
        this.work = this.work[0]
        // Retrieve CTS textgroup
        this.textgroup = await this.$content('metadata/cts')
          .where({ 'urn' : this.work.group_urn })
          .only(['urn', 'type', 'group_name'])
          .fetch()
        this.textgroup = this.textgroup[0]
        break
    }
  }
}
</script>
