<template>
  <div>
    <div class="relative">
      <nuxt-link :to="switchLocalePath('en')">
        <Btn
          :active="isActive('en')"
          :color="colorLabel"
          :class="classNamesLabel"
          class="focus:outline-none"
          size="small"
          >{{ $t('btn.en') }}</Btn
        ></nuxt-link
      >
      <nuxt-link :to="switchLocalePath('de')">
        <Btn
          :active="isActive('de')"
          :color-label="colorLabel"
          :color-item="colorItem"
          :color-hover-bg="colorHoverBg"
          :color-hover-text="colorHoverText"
          :class="classNamesLabel"
          class="-ml-2 focus:outline-none"
          size="small"
          >{{ $t('btn.de') }}</Btn
        ></nuxt-link
      >
    </div>
  </div>
</template>

<script>
import Btn from '@/components/atoms/Btn'
export default {
  name: 'BtnLanguage',
  components: {
    Btn,
  },
  props: {
    /**
    Additional CSS classes to be passed into component
    */
    classes: {
      type: String,
      required: false,
      default: '',
    },
    /**
    Dropdown button label color (TailwindCSS color class or custom CSS class)
    */
    /* eslint-disable */
    color: {
      type: String,
      required: false,
      default: 'gray-900'
    }
  },
  data() {
    return {
      isOpen: false
    }
  },
  computed: {
  },
  methods: {
    isActive(language) {
      if (language === this.$i18n.locale) return true
    }
  }
}
</script>

<style></style>
