<template>
  <div class="mt-8">
    <div
      v-if="showAnchor"
      class="flex items-center float-left pt-1 -ml-6 font-medium text-indigo-500 text-md"
    >
      <svg
        fill="none"
        class="w-5 h-5"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
        />
      </svg>
    </div>
    <button
      :id="id"
      @mouseover="showAnchor = true"
      @mouseleave="showAnchor = false"
      class="font-serif"
    >§{{section}}</button>
  </div>
</template>

<script>
    export default {
        props: {
            // ID to be used for anchor link
            id: {
                type: String,
                required: true,
                default: ''
            },
            // Number of TEI section
            section: {
                type: String,
                required: true,
                default: ''
            }
        },
        name: 'BtnSection',
        data() {
            return {
                showAnchor: false
            }
        }
    }
</script>