<template>
  <div class="relative w-full ml-3 flex-shrink-1 lg:ml-0">
    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
      <svg fill="none" viewBox="0 0 24 24" class="w-6 h-6 text-gray-600">
        <path
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          stroke-linecap="round"
          stroke-width="2"
          stroke="currentColor"
        />
      </svg>
    </span>
    <input
      v-model="input1"
      :placeholder="$t('input.fulltext')"
      readonly="readonly"
      class="block w-full h-12 py-2 pl-10 pr-4 text-sm text-gray-900 placeholder-gray-600 transition duration-150 ease-in-out border border-gray-400 rounded-md focus:border-indigo-500"
      @blur="vk_hide"
      @focus="vk_show"
    />
    <SimpleKeyboard />
  </div>
</template>

<script>
import SimpleKeyboard from '@/components/search/SimpleKeyboard'
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  name: 'InputSearch',
  components: {
    SimpleKeyboard,
  },
  props: {
    size: {
      type: String,
      required: true,
      default: 'medium',
    },
  },
  data() {
    return {
      input1: null,
    }
  },
  methods: {
    ...mapMutations('virtual-keyboard', ['vk_show', 'vk_hide']),
  },
}
</script>
