<template>
  <div id="notification" class="absolute z-50 pb-10 pr-40 notification-container">
    <transition name="fade">
      <NotificationBar
        v-for="notification in notifications"
        :key="notification.id"
        :notification="notification"
      />
    </transition>
  </div>
</template>

<script>
import NotificationBar from '@/components/atoms/NotificationBar.vue'
import { mapState } from 'vuex'

export default {
  components: {
    NotificationBar
  },
  computed: mapState('notification', ['notifications'])
}
</script>

<style scoped>
.notification-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 40px;
}
</style>
