<template>
  <div :class="baseColor" class="z-50 flex p-4 rounded-md">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div :class="textColor" class="pl-1 text-sm font-medium">
        <div class="block">{{message}}</div>
        <div v-if="notification.error != ''" class="block">({{ notification.error }})</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    notification: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      timeout: null
    }
  },
  computed: {
      message() {
          let path = 'error.' + this.notification.source
          return this.$t(`${path}`)
      },
      baseColor() {
          switch (this.notification.type) {
              case "error":
                return 'bg-red-100 text-red-400'
                break
                case "warning":
                return 'bg-yellow-100 text-yellow-400'
                break
                case "success":
                return 'bg-teal-100 text-teal-400'
                break
          }
      },
      textColor() {
          switch (this.notification.type) {
              case "error":
                return 'text-red-700'
                break
                case "warning":
                return 'text-yellow-700'
                break
                case "success":
                return 'text-teal-700'
                break
          }
      }
  },
  mounted() {
    this.timeout = setTimeout(() => this.remove(this.notification), 5000)
  },
  beforeDestroy() {
    clearTimeout(this.timeout)
  },
  methods: mapActions('notification', ['remove'])
}
</script>