<template>
  <v-popover offset="0" class="inline-block" style="padding: 0 !important;">
    <div class="text-indigo-700 hover:text-indigo-500">
      <!-- Button -->
      <button class="inline-block tooltip-target">
        <!-- BibleReference Icon -->
        <svg
          v-if="type === '#biblical'"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="inline-block w-6 h-6 py-1 text-indigo-500 rounded-full cursor-pointer hover:bg-indigo-500 hover:text-indigo-100"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
          />
        </svg>
        <!-- Place Icon -->
        <svg
          v-if="type === '#place'"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="inline-block w-5 h-5 px-1 py-1 text-indigo-500 rounded-full cursor-pointer hover:bg-indigo-500 hover:text-indigo-100"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>
        <!-- Person Icon -->
        <svg
          v-if="type === '#person'"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="inline-block w-5 h-5 px-1 py-1 text-indigo-500 rounded-full cursor-pointer hover:bg-indigo-500 hover:text-indigo-100"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>
    </div>

    <!-- Popover Content -->
    <template slot="popover">
      <!-- Biblical Reference -->
      <div v-if="type === '#biblical'">
        <h1 class="px-2 pt-2 font-semibold text-white">{{ cref }}</h1>
        <p class="w-64 pb-4 mt-2 mb-0 ml-2 mr-0 overflow-y-auto">{{ entry }}</p>
      </div>
    </template>
  </v-popover>
</template>

<script>
import references from '@/content/metadata/biblical-references/biblical-references.json'
import { mapState, mapGetters } from 'vuex'
export default {
  name: 'Annotation',
  props: {
    type: {
      type: String,
      required: true,
      default: '',
    },
    cref: {
      type: String,
      required: true,
      default: '',
    },
  },
  data() {
    return {
      references: references
      }
  },
  computed: {
    entry() {
      let result = []
      result = this.references.filter( el => el.loc === this.cref )
      if(result[0]) return result[0].text
      return ''
    }
/*     bibleReference() {
      let reference = this.getBibleReference(this.cref)
      if (reference) return reference.content
    },
    ...mapState(['reader']),
    ...mapGetters('reader', ['getBibleReference']),
 */  }
}
</script>
