<!-- Renders left sidebar button -->
<template>
  <aside id="btn-sidebar-left" class="flex justify-start w-full">
    <Btn
      v-tooltip.right="$t('tooltip.sidebarLeft')"
      layout="transparent"
      size="small"
      color="gray-500"
      class="inline-flex justify-start ml-3 text-gray-400 cursor-pointer hover:text-indigo-700 focus:outline-none focus:text-indigo-700 focus:shadow-none"
      @click="toggleSidebar('left')"
    >
      <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h7"
        />
      </svg>
    </Btn>
  </aside>
</template>

<script>
import { mapMutations } from 'vuex'
import Btn from '@/components/atoms/Btn'

export default {
    name: 'BtnSidebarLeft',
    components: {
      Btn
    },
    methods: {
        ...mapMutations({
            toggleSidebar: 'reader/toggleSidebar'
        }),
    }
}
</script>