<!-- Renders right sidebar button -->
<template>
  <aside id="btn-sidebar-right" class="flex justify-end w-full">
    <Btn
      v-tooltip.left="$t('tooltip.sidebarRight')"
      layout="transparent"
      size="small"
      color="gray-500"
      class="w-8 mr-3 text-gray-400 cursor-pointer hover:text-indigo-700 focus:shadow-none focus:text-indigo-700 focus:outline-none"
      @click="toggleSidebar('right')"
    >
      <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        />
      </svg>
    </Btn>
  </aside>
</template>

<script>
import { mapMutations } from 'vuex'
import Btn from '@/components/atoms/Btn' 

export default {
    name: 'BtnSidebarRight',
    components: {
      Btn
    },
    methods: {
        ...mapMutations({
            toggleSidebar: 'reader/toggleSidebar'
        }),
    }
}
</script>