<template>
  <div class="hidden md:flex">
    <menuTextColumnRight class="inline-block" />
    <!-- Button: Hide/Show text column -->
    <div class="inline-block -ml-1">
      <button
        @click="setTextType({ type: 'notext', side: 'right' })"
        v-tooltip="reader.text.textTypeRight === 'notext' ? $t('tooltip.showColumn') : $t('tooltip.hideColumn')"
        type="button"
        class="inline-flex justify-center w-full px-3 py-1 text-xs font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border-t border-b border-l border-gray-300 hover:text-indigo-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
      >
        <!-- Icon: column disabled -->
        <svg
          v-if="reader.textTypeRight === 'notext'"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          stroke="currentColor"
          viewBox="0 0 24 24"
          class="inline-block w-5 h-5"
        >
          <path
            d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
          />
        </svg>
        <!-- Icon: column enabled -->
        <svg
          v-if="reader.textTypeRight !== 'notext'"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          stroke="currentColor"
          viewBox="0 0 24 24"
          class="inline-block w-5 h-5 text-indigo-700"
        >
          <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          <path
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
          />
        </svg>
      </button>
    </div>
    <menuTextTOCRight class="-ml-1" />
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import menuTextColumnRight from '@/components/reader/menuTextColumnRight'
import menuTextTOCRight from '@/components/reader/menuTextTOCRight'

    export default {
        name: 'MenuTextRight',
        props: {
          text: {
            type: Object,
            required: true,
            default: {}
          }
        },
        components: {
            menuTextColumnRight,
            menuTextTOCRight
        },
        computed: {
            ...mapState(['reader'])
        },
        methods: {
            ...mapMutations({
            setTextType: 'reader/setTextType'
        })
        }
    }
</script>
