<!-- Renders dropdown menu for table of contents -->
<template>
  <div class="relative inline-block text-left">
    <div>
      <span class="rounded-md shadow-sm">
        <button
          v-tooltip="$t('tooltip.toc')"
          type="button"
          class="inline-flex justify-center w-full px-3 py-1 text-xs font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-r-md hover:text-indigo-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
          @click="toggleTextMenu('tocRight')"
        >
          {{ $t('btn.toc') }}
          <svg
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </span>
    </div>
    <!-- Button Invisible Closing Layer  -->
    <button
      v-if="reader.menuTocRightOpen"
      tabindex="-1"
      class="fixed inset-0 z-20 w-full h-full cursor-default"
      @click="closeTextMenu('tocRight')"
    ></button>
    <!-- Dropdown Content -->
    <transition name="fade">
      <div
        v-show="reader.menuTocRightOpen"
        class="absolute right-0 z-30 w-56 mt-2 origin-top-right rounded-md shadow-lg"
      >
        <div class="bg-white rounded-md shadow-xs">
          <div class="py-1">
            <a
              href="#"
              class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
            >TO DO...</a>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
    name: 'menuTextTOCRight',
    computed: {
        ...mapState(['reader']),
    },
    methods: {
        ...mapMutations({
            toggleTextMenu: 'reader/toggleTextMenu',
            closeTextMenu: 'reader/closeTextMenu'
        })
    }
}
</script>