<!-- Renders annotation toggle button -->
<template>
  <div>
    <!-- Button: Biblical References -->
    <div class="inline-block">
      <button
        v-tooltip="reader.showBiblicalReferences? $t('tooltip.annotationBibleHide') : $t('tooltip.annotationBibleShow')"
        type="button"
        class="inline-flex justify-center w-full px-3 py-1 text-xs font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border-t border-b border-l border-gray-300 rounded-l-md hover:text-indigo-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
        @click="toggleAnnotationRendering('biblicalReferences')"
      >
        <svg
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          :class="reader.showBiblicalReferences? 'text-indigo-600' : ''"
          class="inline-block w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
          />
        </svg>
      </button>
    </div>
    <!-- Button: Persons -->
    <div class="inline-block -ml-1">
      <button
        v-tooltip="reader.showPersons? $t('tooltip.annotationPersonsHide') : $t('tooltip.annotationPersonsShow')"
        type="button"
        class="inline-flex justify-center w-full px-3 py-1 text-xs font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border-t border-b border-gray-300 hover:text-indigo-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
        @click="toggleAnnotationRendering('persons')"
      >
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          viewBox="0 0 24 24"
          :class="reader.showPersons? 'text-indigo-600' : ''"
          class="inline-block w-5 h-5"
        >
          <path
            d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>
    </div>
    <!-- Button: Places -->
    <div class="inline-block -ml-2">
      <button
        v-tooltip="reader.showPlaces? $t('tooltip.annotationPlacesHide') : $t('tooltip.annotationPlacesShow')"
        type="button"
        class="inline-flex justify-center w-full px-3 py-1 text-xs font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border-t border-b border-r border-gray-300 rounded-r-md hover:text-indigo-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
        @click="toggleAnnotationRendering('places')"
      >
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          viewBox="0 0 24 24"
          :class="reader.showPlaces? 'text-indigo-600' : ''"
          class="inline-block w-5 h-5"
        >
          <path
            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
          />
          <path d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </button>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
    name: 'menuTextAnnotations',
    computed: {
        ...mapState(['reader']),
    },
    methods: {
        ...mapMutations({
            toggleAnnotationRendering: 'reader/toggleAnnotationRendering'
        })
    }
}
</script>