<template>
  <div>
    <menuTextColumnLeft :text="text" class="inline-block" /> 
    <menuTextTOCLeft class="-ml-1" />
  </div>
</template>

<script>
import menuTextColumnLeft from '@/components/reader/menuTextColumnLeft'
import menuTextTOCLeft from '@/components/reader/menuTextTOCLeft'
    export default {
        name: 'MenuTextLeft',
        components: {
          menuTextColumnLeft,
          menuTextTOCLeft
        },
        props: {
          text: {
            type: Object,
            required: true,
            default: {}
          }
        }
    }
</script>