<template>
  <div>
    <menuTextPicker :text="text" :column="column" class="inline-block" /> 
    <menuTextTOC :column="column" class="-ml-1" />
  </div>
</template>

<script>
import menuTextPicker from '@/components/reader/menuTextPicker'
import menuTextTOC from '@/components/reader/menuTextTOC'
    export default {
        name: 'MenuText',
        components: {
          menuTextPicker,
          menuTextTOC
        },
        props: {
          text: {
            type: Object,
            required: true,
            default: {}
          },
          column: {
              type: String,
              required: true,
              default: ''
          }
        }
    }
</script>