<!-- Renders dropdown menu for left column text selection -->
<template>
  <div>
    <div class="relative inline-block text-left">
      <div>
        <span class="rounded-md shadow-sm">
          <!-- Button Dropdown -->
          <button
            v-tooltip="$t('tooltip.columnLeft')"
            type="button"
            class="inline-flex justify-center w-full px-3 py-1 text-xs font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border-t border-b border-l border-gray-300 rounded-l-md hover:text-indigo-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
            @click="toggleTextMenu('left')"
          >
            {{ activeTextID }}
            <svg
              class="w-5 h-5 ml-2 -mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </span>
      </div>
      <!-- Button Invisible Closing Layer  -->
      <button
        v-if="reader.menuLeftTextOpen"
        tabindex="-1"
        class="fixed inset-0 z-20 w-full h-full cursor-default"
        @click="closeTextMenu('left')"
      ></button>
      <!-- Dropdown Content -->
      <transition name="fade">
        <div
          v-show="reader.menuLeftTextOpen"
          class="absolute right-0 z-30 w-56 mt-2 overflow-scroll overflow-x-hidden origin-top-right bg-white rounded-md shadow-lg"
          style="max-height: 40vh"
        >
          <div class="bg-white rounded-md shadow-xs">
            <!-- Editions -->
            <div v-if="editions" class="py-2">
              <div class="px-4 text-sm font-medium text-gray-500">{{ $t('header.reader.editions') }}</div>
              <div
                v-for="item in editions"
                :key="item.urn"
                class="inline-flex w-full px-4 py-2 text-sm leading-5 text-gray-700 cursor-pointer hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                @click="triggerNewText({ type: item.urn, side: 'left' })"
              >
                <span class="inline-flex w-11/12">
                  {{ item.pta_id }}
                </span>
                <!-- isActive Indicator -->
                <span
                  v-tooltip="$t('navbar.activeText')"
                  :class="isActiveTextType(item.urn, 'left')"
                  class="content-end text-teal-300"
                >
                  <svg viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
                <!-- Information Button with Description Tooltip -->
                <span
                  v-tooltip="getTextDescription(item.description)"
                  class="inline-flex text-indigo-500"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    class="w-4 h-4"
                  >
                    <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </span>
              </div>
            </div>
            <!-- Translations -->
            <div v-if="translations" class="py-2">
              <div
                class="px-4 text-sm font-medium text-gray-500"
              >{{ $t('header.reader.translations') }}</div>
              <div
                v-for="item in translations"
                :key="item.urn"
                class="inline-flex w-full px-4 py-2 text-sm leading-5 text-gray-700 cursor-pointer hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                @click="triggerNewText({ type: item.urn, side: 'left' })"
              >
                <span class="inline-flex w-11/12">
                  {{ item.pta_id }}
                </span>
                <!-- isActive Indicator -->
                <span
                  v-tooltip="$t('navbar.activeText')"
                  :class="isActiveTextType(item.urn, 'left')"
                  class="content-end text-teal-300"
                >
                  <svg viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
                <!-- Information Button with Description Tooltip -->
                <span
                  v-tooltip="getTextDescription(item.description)"
                  class="inline-flex text-indigo-500"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    class="w-4 h-4"
                  >
                    <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </span>
              </div>
            </div>
            <!-- Manuscripts -->
            <div v-if="manuscripts" class="py-2">
              <div
                class="px-4 text-sm font-medium text-gray-500"
              >{{ $t('header.reader.transcriptions') }}</div>
              <div
                v-for="item in manuscripts"
                :key="item.urn"
                class="inline-flex w-full px-4 py-2 text-sm leading-5 text-gray-700 cursor-pointer hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                @click="triggerNewText({ type: item.urn, side: 'left' })"
              >
                <span class="inline-flex w-11/12">
                  {{ item.pta_id }}
                </span>
                <!-- isActive Indicator -->
                <span
                  v-tooltip="$t('navbar.activeText')"
                  :class="isActiveTextType(item.urn, 'left')"
                  class="content-end text-teal-300"
                >
                  <svg viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
                <!-- Information Button with Description Tooltip -->
                <span
                  v-tooltip="getTextDescription(item.description)"
                  class="inline-flex text-indigo-500"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    class="w-4 h-4"
                  >
                    <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
    name: 'menuTextColumnLeft',
    filters: {
        uppercase: function (value) {
        if (!value) {
            return ''
        }

        return value.toString().toUpperCase()
        },
    },
    props: {
      text: {
        type: Object,
        required: true,
        default: {}
      }
    },
    computed: {
        editions() {
          return this.text.work_items.filter( el => el.type === 'edition' )
        },
        translations() {
          return this.text.work_items.filter( el => el.type === 'translation' )
        },
        manuscripts() {
          return this.text.work_items.filter( el => el.type === 'manuscript' )
        },
        // Retrieves text version from 'left' query route parameter
        activeTextID() {
        return this.$route.query.left.split('.')[2].toUpperCase()
        },
        ...mapState(['reader'])
    },
    methods: {
        // Returns localized description string
        getTextDescription(description) {
          switch (this.$i18n.locale) {
            case 'de':
              if (description.de !== '') return description.de
              break
            case 'en':
              if (description.en !== '') return description.en
              break
            case 'fr':
              if (description.fr !== '') return description.fr
              break
            default:
              return this.$t('navbar.noDescriptionAvailable')
              break
          }
        },
        // Sets new text for text column, closes respective dropdown menu
        triggerNewText(text) {
            this.closeTextMenu(text.side)
            // this.setTextType(text)
        },
        // Display element if type matches currently selected text type
        isActiveTextType(type, side) {
            if (side === 'left' && type === this.$route.query.left)
                return 'inline-block'
            if (side === 'right' && type === this.$route.query.right)
                return 'inline-block'
            return 'hidden'
        },
        ...mapMutations({
            setTextType: 'reader/setTextType',
            toggleTextMenu: 'reader/toggleTextMenu',
            closeTextMenu: 'reader/closeTextMenu'
        })
    }
}
</script>