<template>
  <div :class="textWidth">
    <!-- Button Left Sidebar -->
    <BtnSidebarLeft />

    <!-- Breadcrumbs -->
    <Breadcrumbs class="justify-center hidden md:flex" />

    <!-- Button Right Sidebar -->
    <BtnSidebarRight />

    <!-- Text Menu -->
    <nav
      id="menuText"
      class="flex flex-col items-center justify-center pt-6 pb-6 xl:flex-row md:justify-center"
    >
      <menuText :text="left" column="left" class="mb-5 md:mb-2 xl:mb-0" />
      <menuTextAnnotations class="md:mx-1 md:mb-2 xl:mb-0 xl:mx-10" />
      <menuText :text="right" column="right" />
    </nav>

    <!-- Text Content -->
    <div id="textColumns" class="flex w-full">
      <!-- Text left column -->
      <article
        id="colLeft"
        :class="colWidth"
        class="inline-block font-serif text-lg"
        @click="selectText"
      >
        <TEI
          column="left"
          :key="this.$route.query.left || reader.showBiblicalReferences || reader.showPersons || reader.showPlaces"
          :url="this.$route.query.left"
          :showBiblicalReferences="reader.showBiblicalReferences"
          :showPersons="reader.showPersons"
          :showPlaces="reader.showPlaces"
        />
      </article>
      <!-- Text right column -->
      <article
        v-if="this.$route.query.right && this.$route.query.right.length > 0"
        id="colRight"
        class="inline-block w-1/2 pl-2 font-serif text-lg"
        @click="selectText"
      >
        <TEI
          column="right"
          :key="this.$route.query.right || reader.showBiblicalReferences || reader.showPersons || reader.showPlaces"
          :url="this.$route.query.right"
          :showBiblicalReferences="reader.showBiblicalReferences"
          :showPersons="reader.showPersons"
          :showPlaces="reader.showPlaces"
        />
      </article>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'
import menuText from '@/components/reader/menuText'
import menuTextAnnotations from '@/components/reader/menuTextAnnotations'
import TEI from '@/components/reader/TEI'

export default {
  name: 'ReaderText',
  components: {
    menuText,
    menuTextAnnotations,
    TEI
  },
  filters: {
    uppercase: function (value) {
      if (!value) {
        return ''
      }
      return value.toString().toUpperCase()
    },
  },
  props: {
    // Left column text
    left: {
      type: Object,
      required: true,
      default: {}
    },
    // Right column text
    right: {
      type: Object,
      required: true,
      default: {}
    }
  },
  data() {
    return {
      selectedWord: '',
    }
  },
  computed: {
    // Retrieves text version from 'left' query route parameter
    textVersionLeft() {
      let urnParams = '' 
      if (this.$route.params.urn) {
        urnParams = this.$route.params.urn.split('.')[2].toUpperCase()
      }
      if (this.$route.query.left) {
        return this.$route.query.left.split('.')[2].toUpperCase()
      } else return urnParams
    },
    // Retrieves text version from 'right' query route parameter
    textVersionRight() {
      let urnQueryRight = ''
      if (this.$route.query.right && this.$route.query.right !== 'notext') {
        urnQueryRight = this.$route.query.right.split('.')[2].toUpperCase()
      }
      if (this.$route.query.right === 'notext') { return this.$t('btn.notext') }
      else return urnQueryRight
    },
    // Applies text grid for 1-column / 2-column layout
    textWidth() {
      if (this.reader.textTypeRight !== 'notext') return 'layout-post-2col'
      else return 'layout-post-1col'
    },
    // Sets new left text column width when second column active
    colWidth() {
      let width
      if (this.reader.textTypeRight !== 'notext') {
        width = `w-1/2 pr-3`
      }
      return width
    },
    ...mapState(['reader', 'texts']),
    ...mapGetters('texts', ['getVersionTitle'])
  },
  methods: {
    // Sets new text for text column, closes respective dropdown menu
    triggerNewText(text) {
      this.closeTextMenu(text.side)
      this.setTextType(text)
    },
    // Capture highlighted text by user, isolate frist word, strip all punctuation
    selectText() {
      let word = window.getSelection().toString()
      let firstWordPunctuationless = ''

      const firstWord = word.split(' ').slice(0, 1).toString()

      firstWordPunctuationless = firstWord.replace(
        /[.,\/#!$%\^&\*;:{}=\-_`~()]/g,
        ''
      )
      this.selectedWord = firstWordPunctuationless

      this.$router.replace({
        path: this.localePath({
          name: 'reader',
          query: {
            left: this.$route.query.left,
            right: this.$route.query.right,
            word: firstWordPunctuationless,
          },
        }),
      })
    },
    // Display element if type matches currently selected text type
    isActiveTextType(type, side) {
      if (side === 'left' && type === this.reader.textTypeLeft)
        return 'inline-block'
      if (side === 'right' && type === this.reader.textTypeRight)
        return 'inline-block'
      return 'hidden'
    },
    ...mapMutations({
      setTextType: 'reader/setTextType',
      toggleSidebar: 'reader/toggleSidebar',
      toggleTextMenu: 'reader/toggleTextMenu',
      closeTextMenu: 'reader/closeTextMenu',
      toggleAnnotationRendering: 'reader/toggleAnnotationRendering'
    }),
  },
}
</script>

<style lang="css" scoped>
.text {
  transition: 1s ease;
}

/* Grid Layout for 1-column text display */
.layout-post-1col {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 56ch)
    minmax(1.2rem, 1fr);
}

/* Grid Layout for 1-column text display */
.layout-post-2col {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 80ch)
    minmax(1.2rem, 1fr);
}
/* position text paragraphs into the second (middle) column */
header,
section,
article,
p,
h1,
h2,
div,
nav,
span {
  grid-column: 2;
}

#menuText {
  grid-column: 1/4;
}
</style>
