<template>
  <div class="mt-8">
    <!-- Print & XML Download -->
    <div class="flex justify-center w-full">
      <button
        v-tooltip="$t('tooltip.print')"
        type="button"
        class="inline-flex justify-center px-3 py-1 text-xs font-medium leading-5 text-gray-400 transition duration-150 ease-in-out bg-white hover:text-indigo-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
        @click="print()"
      >
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          viewBox="0 0 24 24"
          class="w-5 h-5"
        >
          <path
            d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"
          />
        </svg>
      </button>
      <!-- TODO: Refactor: Env variable für XML Download-Link nutzen statt hardcoded -->
      <a
        v-if="TEI.path"
        v-tooltip="$t('tooltip.xml')"
        type="button"
        class="inline-flex justify-center px-3 py-1 text-xs font-medium leading-5 text-gray-400 transition duration-150 ease-in-out bg-white hover:text-indigo-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800"
        :href="`${this.TEI.path}`"
        target="blank"
      >
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          class="w-5 h-5"
        >
          <path d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
        </svg>
      </a>
    </div>
    <div :id="`tei-${url}`">
      <!-- Title & subtitle -->
      <header class="flex justify-center h-20 mt-5 font-serif text-center">
        <h1 class="text-xl font-semibold" style="max-width: 450px;">{{ TEI.metadata.title }}</h1>
      </header>
      <!--<header class="flex justify-center pt-8 font-serif text-center">
        <h2 class="font-medium text-gray-700 text-md" style="max-width: 450px">Lorem ipsum dolor sit amet</h2>
      </header>-->
      <!-- Text -->
      <v-runtime-template class="example-background-color" :template="TEI.html" />
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import annotation from '@/components/reader/Annotation'
import btnsection from '@/components/atoms/BtnSection'
import CETEI from '../../plugins/ceteicean/CETEI.js'
import VRuntimeTemplate from 'v-runtime-template'
export default {
  name: 'TEI',
  components: {
    annotation,
    btnsection,
    VRuntimeTemplate
  },
  props: {
    column: {
      type: String,
      required: true,
      default: ''
    },
    // XML file name
    url: {
      type: String,
      required: true,
      default: '',
    },
    showBiblicalReferences: {
      type: Boolean,
      required: true,
      default: true,
    },
    showPersons: {
      type: Boolean,
      required: true,
      default: true,
    },
    showPlaces: {
      type: Boolean,
      required: true,
      default: true,
    },
  },
  data() {
    return {
      TEI: {
        path: '',
        xml: '',
        html: '',
        metadata: {
          features: {
            persons: null,
            places: null,
            biblicalQuotations: null
          }
        }
      }
    }
  },
  computed: {
    ...mapState(['reader']),
  },
  watch: {
    showBiblicalReferences: function() {
      this.parseTEI()
    },
    showPersons: function() {
      this.parseTEI()
    },
    showPlaces: function() {
      this.parseTEI()
    }
  },
  methods: {
    // Loads local TEI xml based on route query parameter, triggers TEI parsing
      loadTEI(){
        let route = ''
        switch (this.column) {
          case 'left':
            route = this.$route.query.left
            break
          case 'right':
            route = this.$route.query.right
            break
        }
        const textgroup = route.split(':')[3].split('.')[0]
        const work = route.split(':')[3].split('.')[1]
        const filename = route.split(':')[3] + '.xml'
        const path = this.$config.baseURL + '/TEI/' + textgroup + '/' + work + '/' + filename
        this.TEI.path = path

        this.$axios.get(path).then(response => {
          this.TEI.xml = response.data
          this.parseTEI()
        })
      },
      // Parses TEI xml string using CETEIcean.js, adds Vue-markup for annotations, returns HTML string
      parseTEI(){
        var CETEIcean = new CETEI()
        var self = this
        const text = this.TEI.xml

      CETEIcean.makeHTML5(
      text,
      function (data) {            

        // Create section headers with id's based on text urn
         const sections = data
          .querySelectorAll('tei-div[subtype="section"]')
          .forEach(x => {
            // Header
            // let header = document.createElement("header");
            const n = x.getAttribute("n")
            const id = self.url + '-' + n            
            // header.setAttribute("id", id)
            // header.textContent = "§" + x.getAttribute("n");
            // Header anchor
            let anchor = document.createElement("btnsection")
            anchor.setAttribute("id", id)
            anchor.setAttribute("section", n);
            // x.prepend(header);
            x.prepend(anchor);
          });  

        // Title
        let title = ''
        if (data.querySelector('tei-title')) {
          title = data.querySelector('tei-title').textContent
        }
        
        // Create annotation button node for every biblical reference
        if (self.showBiblicalReferences) {
         const biblical = data
          .querySelectorAll('[decls="#biblical"]')
          .forEach(x => {
            let annotation = document.createElement("annotation");
            annotation.setAttribute("cref", x.getAttribute("cRef"));
            annotation.setAttribute("type", x.getAttribute("decls"));
            annotation.setAttribute("key", Math.random());
            x.parentNode.append(annotation);
          });
        }
        
        // Features: Persons
        let featurePersonsNode = null
        let featurePersons = null
        featurePersonsNode = data.querySelector('[xml\\:id="persons"]')
        if (featurePersonsNode) {
        const featurePersonsLinks = featurePersonsNode
          .querySelectorAll('tei-ref')
          .forEach( ref => { 
            let a = document.createElement("a")
            a.setAttribute("href", ref.getAttribute("target"))
            a.setAttribute("target", "blank")
            ref.parentNode.replaceChild(a, ref)
            featurePersons = a.parentNode.innerHTML
          })
        }

        // Features: Places
        let featurePlacesNode = null
        let featurePlaces = ''
        featurePlacesNode = data.querySelector('[xml\\:id="places"]')
        if (featurePlacesNode) {
        const featurePlacesLinks = featurePlacesNode
          .querySelectorAll('tei-ref')
          .forEach( ref => { 
            let a = document.createElement("a")
            a.setAttribute("href", ref.getAttribute("target"))
            a.setAttribute("target", "blank")
            ref.parentNode.replaceChild(a, ref)
            featurePlaces = a.parentNode.innerHTML
          })
        }

        // Features: Biblical Quotations
        let featureBiblicalQuotations = ''
        if (data.querySelector('[xml\\:id="biblical-quotations"]')) {
          featureBiblicalQuotations = data.querySelector('[xml\\:id="biblical-quotations"]').textContent
        }
        
        // Create metadata object
        self.TEI.metadata.title = title
        self.TEI.metadata.features.persons = featurePersons
        self.TEI.metadata.features.places = featurePlaces
        self.TEI.metadata.features.biblicalQuotations = featureBiblicalQuotations
        self.TEI.html = data.outerHTML
        
      }
    )
        },
        // Prints a HTML element with passed URN
        print() {
          let id = 'tei-' + this.url

          // Get HTML to print from element
          const prtHtml = document.getElementById(id).innerHTML;

          // Get all stylesheets HTML
          let stylesHtml = '';
          for (const node of [...document.querySelectorAll('link[rel="stylesheet"], style')]) {
            stylesHtml += node.outerHTML;
          }

          // Open the print window
          const WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');

          WinPrint.document.write(`<!DOCTYPE html>
          <html>
            <head>
              ${stylesHtml}
            </head>
            <body style="max-width: 500px; margin-left: 100px; margin-right: 25px">
              ${prtHtml}
            </body>
          </html>`);

          WinPrint.document.close();
          WinPrint.focus();
          WinPrint.print();
          WinPrint.close();
        },
    ...mapMutations({
      setCurrentEntityMetadata: 'reader/setCurrentEntityMetadata'
    }),
  },
  // Retrieve and parse XML to HTML with Vue markup for annotations
  mounted() { 
    this.loadTEI()
  },
}
</script>

<style scoped>
>>> ::selection {
  background-color: #e6fffa;
}
</style>
