<!-- Renders Bibliographical Dataset Entries in Sidebar -->
<template>
  <div>
    <!-- Header -->
    <div
      @click="toggleWidgetAccordion('bibliography')"
      :class="open ? 'bg-white' : 'bg-gray-50'"
      class="py-3 pl-3 text-xs font-medium text-gray-700 transition-colors duration-300 ease-in-out border-b border-gray-200 cursor-pointer hover:text-indigo-700 hover:bg-white"
    >
      <div class="flex justify-between">
        <!-- Icon & Title -->
        <div>
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="inline-block w-4 h-4 mr-1 text-gray-500"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            />
          </svg>

          <span>{{ $t('header.reader.bibliography') }}</span>
        </div>
        <!-- Chevron -->
        <div class="self-center mr-3">
          <svg
            fill="currentColor"
            viewBox="0 0 20 20"
            :class="open ? 'transform rotate-180 transition duration-200' : 'transform rotate-0 transition duration-200'"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div v-show="open" class="w-full px-3 py-4 text-xs bg-gray-50">
      <!-- Bibliographic Citation -->
      <dl class="w-full px-3 mb-4">
        <dt class="flex justify-between block mb-1 font-medium leading-5 text-gray-600">
          <span
            v-tooltip="$t('tooltip.placeholder')"
            class="cursor-help"
          >{{$t('bibliography.citation')}}</span>
        </dt>
        <dd class="block font-medium leading-5 text-gray-700 break-all">{{ metadata.bibliographic_citation }}</dd>
      </dl>
      <!-- Edition type -->
      <dl v-if="type === 'edition'" class="w-full px-3 mb-4">
        <dt class="block font-medium leading-5 text-gray-600">
          <span
            v-tooltip="$t('tooltip.placeholder')"
            class="cursor-help"
          >{{$t('bibliography.editionType')}}</span>
        </dt>
        <dd class="block font-medium text-gray-700">{{ type }}</dd>
      </dl>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'WidgetBibliography',
  props: {
    // Text metadata
    metadata: {
      type: Object,
      required: true,
      default: {}
    },
    // Text type (e.g. 'edition')
    type: {
      type: String,
      required: true,
      default: ''
    }
  },
  computed: {
    open() {
      return this.reader.widgetBibliographyOpen
    },
    ...mapState(['reader'])
  },
  methods: {
    ...mapMutations({
      toggleWidgetAccordion: 'reader/toggleWidgetAccordion'
    }),
  }
}
</script>
