<!-- Renders Places Tool in Sidebar -->
<template>
  <div>
    <!-- Header -->
    <div
      v-tooltip="$t('tooltip.places')"
      @click="toggleWidgetAccordion('places')"
      :class="open ? 'bg-white' : 'bg-gray-50'"
      class="py-3 pl-3 text-xs font-medium text-gray-700 transition-colors duration-300 ease-in-out border-b border-gray-200 cursor-pointer hover:text-indigo-700 hover:bg-white"
    >
      <div class="flex justify-between">
        <!-- Icon & Title -->
        <div>
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="inline-block w-4 h-4 mr-1 text-gray-500"
          >
            <path
              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
            />
            <path d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
          <span>{{ $t('header.reader.places') }}</span>
        </div>
        <!-- Chevron -->
        <div class="self-center mr-2">
          <svg
            fill="currentColor"
            viewBox="0 0 20 20"
            :class="open ? 'transform rotate-180 transition duration-200' : 'transform rotate-0 transition duration-200'"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div v-show="open" class="w-full py-4 pl-3 border-b border-gray-200 bg-gray-50">
      <div class="px-3 text-xs italic">TODO: Anzeige aller annotierten Orte</div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'WidgetBiblePlaces',
  computed: {
    open() {
      return this.reader.widgetPlacesOpen
    },
    ...mapState(['reader']),
  },
  methods: {
    ...mapMutations({
      toggleWidgetAccordion: 'reader/toggleWidgetAccordion'
    })
  }
}
</script>