<!-- Renders Identifier Dataset Entries in Sidebar -->
<template>
  <div>
    <!-- Header -->
    <div
      v-tooltip="$t('tooltip.identifier')"
      @click="toggleWidgetAccordion('identifier')"
      :class="open ? 'bg-white' : 'bg-gray-50'"
      class="py-3 pl-3 text-xs font-medium text-gray-700 transition-colors duration-300 ease-in-out border-t border-b border-gray-200 cursor-pointer hover:text-indigo-700 hover:bg-white"
    >
      <div class="flex justify-between">
        <!-- Icon & Title -->
        <div>
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="inline-block w-4 h-4 mr-1 text-gray-500"
          >
            <path
              d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"
            />
          </svg>
          <span>{{ $t('header.reader.identifier') }}</span>
        </div>
        <!-- Chevron -->
        <div class="self-center mr-3">
          <svg
            fill="currentColor"
            viewBox="0 0 20 20"
            :class="open ? 'transform rotate-180 transition duration-200' : 'transform rotate-0 transition duration-200'"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div v-show="open" class="w-full px-3 py-4 text-xs bg-gray-50">
      <!-- PTA ID -->
      <dl class="w-full px-3 mb-4">
        <dt class="block mb-1 font-medium leading-5 text-gray-600">
          <span v-tooltip="$t('tooltip.placeholder')" class="cursor-help">{{$t('identifier.pta')}}</span>
        </dt>
        <dd
          v-if="metadata.PTA"
          class="block font-medium leading-5 text-indigo-700"
        >{{ metadata.PTA }}</dd>
      </dl>
      <!-- CPG ID -->
      <dl class="w-full px-3 mb-4">
        <dt class="block mb-1 font-medium leading-5 text-gray-600">
          <span v-tooltip="$t('tooltip.placeholder')" class="cursor-help">{{$t('identifier.cpg')}}</span>
        </dt>
        <dd
          v-if="metadata.CPG"
          class="block font-medium leading-5 text-indigo-700"
        >{{ metadata.CPG }}</dd>
      </dl>
      <!-- BHGn ID -->
      <dl class="w-full px-3 mb-4">
        <dt class="block mb-1 font-medium leading-5 text-gray-600">
          <span v-tooltip="$t('tooltip.placeholder')" class="cursor-help">{{$t('identifier.bhg')}}</span>
        </dt>
        <!-- TODO: Funktioniert? -->
        <dd
          v-if="metadata.BHGn"
          class="block font-medium leading-5 text-indigo-700"
          v-html="metadata.BHGn === '' ? $t('bibliography.notAvailable') : metadata.BHGn"
        ></dd>
      </dl>
      <!-- Pinakes-Ouevre -->
      <dl class="w-full px-3 mb-4">
        <dt class="block mb-1 font-medium leading-5 text-gray-600">
          <span
            v-tooltip="$t('tooltip.placeholder')"
            class="cursor-help"
          >{{$t('identifier.pinakes')}}</span>
        </dt>
        <dd class="block font-medium leading-5 text-indigo-700">
          <div v-if="metadata.pinakes">
            <a :href="pinakesURL" target="blank" rel="noopener">
              {{ metadata.pinakes }}
              <svg
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="inline-block w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
                />
              </svg>
            </a>
          </div>
        </dd>
      </dl>
      <!-- How to cite -->
      <dl class="w-full px-3 mb-4">
        <dt class="block mb-1 font-medium leading-5 text-gray-600">
          <span
            v-tooltip="$t('tooltip.placeholder')"
            class="cursor-help"
          >{{$t('identifier.howToCite')}}</span>
        </dt>
        <dd class="block font-medium text-gray-700">---</dd>
      </dl>
      <!-- License -->
      <dl v-if="metadata.licence" class="w-full px-3 mb-4">
        <dt class="block mb-1 font-medium leading-5 text-gray-600">
          <span
            v-tooltip="$t('tooltip.placeholder')"
            class="cursor-help"
          >{{$t('identifier.license')}}</span>
        </dt>
        <dd class="block font-medium text-indigo-700">
          <a href="https://creativecommons.org/about/cclicenses/" target="blank" rel="noopener">
            <span>{{ metadata.licence }}</span>
            <svg
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="inline-block w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
              />
            </svg>
          </a>
        </dd>
      </dl>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'WidgetIdentifier',
  props: {
    metadata: {
      type: Object,
      required: true,
      default: {}
    }
  },
  computed: {
    open() {
      return this.reader.widgetIdentifierOpen
    },
    urn() {
      return this.reader.currentEntity.cts.urn
    },
    pinakesURL() {
      let id = this.metadata.pinakes
      return 'https://pinakes.irht.cnrs.fr/notices/oeuvre/' + id
    },
    ...mapState(['reader'])
  },
    methods: {
    ...mapMutations({
      toggleWidgetAccordion: 'reader/toggleWidgetAccordion'
    })
  }
}
</script>
