<!-- Renders Dictionary Tool in Sidebar -->
<template>
  <div>
    <!-- Header -->
    <div
      v-tooltip="$t('tooltip.dictionary')"
      @click="toggleWidgetAccordion('dictionary')"
      :class="open ? 'bg-white' : 'bg-gray-50'"
      class="py-3 pl-3 text-xs font-medium text-gray-700 transition-colors duration-300 ease-in-out border-b border-gray-200 cursor-pointer hover:text-indigo-700 hover:bg-white"
    >
      <div class="flex justify-between">
        <!-- Icon & Title -->
        <div>
          <svg
            viewBox="0 0 20 20"
            fill="currentColor"
            class="inline-block w-4 h-4 mr-1 text-gray-500"
          >
            <path
              fill-rule="evenodd"
              d="M7 2a1 1 0 011 1v1h3a1 1 0 110 2H9.578a18.87 18.87 0 01-1.724 4.78c.29.354.596.696.914 1.026a1 1 0 11-1.44 1.389c-.188-.196-.373-.396-.554-.6a19.098 19.098 0 01-3.107 3.567 1 1 0 01-1.334-1.49 17.087 17.087 0 003.13-3.733 18.992 18.992 0 01-1.487-2.494 1 1 0 111.79-.89c.234.47.489.928.764 1.372.417-.934.752-1.913.997-2.927H3a1 1 0 110-2h3V3a1 1 0 011-1zm6 6a1 1 0 01.894.553l2.991 5.982a.869.869 0 01.02.037l.99 1.98a1 1 0 11-1.79.895L15.383 16h-4.764l-.724 1.447a1 1 0 11-1.788-.894l.99-1.98.019-.038 2.99-5.982A1 1 0 0113 8zm-1.382 6h2.764L13 11.236 11.618 14z"
              clip-rule="evenodd"
            />
          </svg>
          <span>{{ $t('header.reader.dictionary') }}</span>
        </div>
        <!-- Chevron -->
        <div class="self-center mr-2">
          <svg
            fill="currentColor"
            viewBox="0 0 20 20"
            :class="open ? 'transform rotate-180 transition duration-200' : 'transform rotate-0 transition duration-200'"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div v-show="open" class="w-full px-3 py-4 text-xs bg-gray-50">
      <div
        v-show="word"
        class="p-1 pl-5 mb-2 font-serif text-sm font-medium bg-teal-100 rounded"
      >{{ word }}</div>
      <div class="px-3 italic">
        TODO: Anzeige des Lemmas und des entsprechenden
        Eintrags in LSJ
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'WidgetDictionary',
  computed: {
    open() {
      return this.reader.widgetDictionaryOpen
    },
    word() {
      return this.$route.query.word
    },
    ...mapState(['reader']),
  },
  methods: {
    ...mapMutations({
      toggleWidgetAccordion: 'reader/toggleWidgetAccordion'
    }),
  }
}
</script>