<!-- Renders Dictionary Tool in Sidebar -->
<template>
  <div>
    <!-- Header -->
    <div
      v-tooltip="$t('tooltip.bibleReference')"
      @click="toggleWidgetAccordion('biblicalReferences')"
      :class="open ? 'bg-white' : 'bg-gray-50'"
      class="py-3 pl-3 text-xs font-medium text-gray-700 transition-colors duration-300 ease-in-out border-t border-b border-gray-200 cursor-pointer hover:text-indigo-700 hover:bg-white"
    >
      <div class="flex justify-between">
        <!-- Icon & Title -->
        <div>
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="inline-block w-4 h-4 mr-1 text-gray-500"
          >
            <path
              d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
            />
          </svg>
          <span>{{ $t('header.reader.bibleReference') }}</span>
        </div>
        <!-- Chevron -->
        <div class="self-center mr-2">
          <svg
            fill="currentColor"
            viewBox="0 0 20 20"
            :class="open ? 'transform rotate-180 transition duration-200' : 'transform rotate-0 transition duration-200'"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div v-show="open" class="w-full py-4 pl-3 border-b border-gray-200 bg-gray-50">
      <div class="px-3 text-xs italic">
        TODO: Anzeige aller annotierten Stellen mit Kontext in LXX
        Rahlfs/NT Graece
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'WidgetBibleReferences',
  computed: {
    open() {
      return this.reader.widgetBiblicalReferencesOpen
    },
    ...mapState(['reader']),
  },
  methods: {
    ...mapMutations({
      toggleWidgetAccordion: 'reader/toggleWidgetAccordion'
    })
  }
}
</script>
