<template>
	<nuxt-link :to="localePath({ name: 'reader', query: { left: urn, right: '' } })">
		<div class="p-6 bg-white border-b border-gray-300 shadow sm:rounded-lg hover:shadow-lg">
			<!-- PTA ID -->
			<span
				class="inline-flex px-2 mb-2 text-xs font-semibold leading-5 text-teal-800 bg-teal-100 rounded-full"
			> {{ ptaId }} </span>
			<!-- Version title -->
			<div class="text-base font-medium leading-4 text-left text-gray-900"> {{ item.title }} </div>
			<!-- Group name -->
			<div class="pb-3 text-base leading-5 text-left text-gray-600 font-base">Gruppenname</div>
			<!-- Exercept -->
			<p class="text-sm italic leading-tight text-gray-600" v-html="displayHit(item.content)" />
			<!-- Date, Update -->
			<div class="flex justify-end mt-3 text-xs text-gray-500">
				<div>{{ $t('search.updatedAt') }}: {{ updatedAt }}</div>
			</div>
		</div>
	</nuxt-link>
</template>

<script>
export default {
    name: 'CardSearch',
    props: {
        item: {
            type: Object,
            required: true,
            default: {}
				},
				q: {
					type: String,
					required: true,
					default: ''
				}
		},
		computed: {
			// TODO: Refactor: das sollte eigentlich im item Objekt drin stehen, nur temporär
			urn() {
				if (this.item.slug) {
					return 'urn:cts:pta:' + this.item.slug
				}
			},
			updatedAt() {
				const iso = this.$i18n.locale
				const date = new Date(this.item.updatedAt)
				const dateTimeFormat = new Intl.DateTimeFormat(iso, { year: 'numeric', month: 'short', day: '2-digit' }) 
				const [{ value: month },,{ value: day },,{ value: year }] = dateTimeFormat .formatToParts(date )

				switch (iso) {
					case 'de':
						return `${month}. ${day} ${year }`
					case 'en':
						return `${day}-${month}-${year }`
					default:
						return `${day}-${month}-${year }`
				}
			},
			// TODO: Refactor, ID sollte im item Objekt drin stehen, nur temporär
			ptaId() {
				const name = this.item.filename
				console.log(name)
				return name.split('.')[2].toUpperCase()
			}
		},
    methods: {
			displayHit(item) {
					if (item) {
						const q = this.q
						const q_highlighted = `<span class="text-gray-900 bg-teal-100">${q}</span>`
						const position = item.search(this.q)
						
						let hit = item.substring(position, position + 200)
						let hit_el = `<div>${hit}</div>`
						var hit_element = new DOMParser().parseFromString(hit_el, "text/xml")
						let regex = new RegExp(q, 'gi')
						hit_element.firstChild.innerHTML = hit_element.firstChild.innerHTML.replace(regex, q_highlighted)
						return '... ' + hit_element.firstChild.innerHTML + '...'
					}
      },
    }
}
</script>