<template>
  <div v-show="vk_visible" class="simple-keyboard"></div>
</template>

<script>
import Keyboard from 'simple-keyboard'
import { mapState } from 'vuex'

export default {
  name: 'SimpleKeyboard',
  data: () => ({
    keyboard: null,
  }),
  mounted() {
    this.keyboard = new Keyboard({
      onChange: this.onChange,
      onKeyPress: this.onKeyPress,
      preventMouseDownDefault: true,
      layout: {
        default: [
          '\u0313 \u0314 \u0308 \u0301 \u0300 \u0342 \u0345',
          '\u03db \u03dd \u03df \u03e1',
          '{tab} \u03c2 \u03b5 ρ \u03c4 \u03c5 \u03b8 \u03b9 \u03bf \u03c0',
          '{lock} \u03b1 \u03c3 \u03b4 \u03c6 \u03b3 \u03b7 \u03be \u03ba \u03bb {enter}',
          '{shift} \u03b6 \u03c7 \u03c8 \u03c9 \u03b2 \u03bd \u03bc {shift}',
          '{space}',
        ],
        shift: [
          '\u0313 \u0314 \u0308 \u0301 \u0300 \u0342 \u0345',
          '\u03da \u03dc \u03de \u03e0',
          '{tab} \u03a3 \u0395 Ρ \u03a4 \u03a5 \u0398 \u0399 \u039f \u03a0',
          '{lock} \u0391 \u03a3 \u0394 \u03a6 \u0393 \u0397 \u039e \u039a \u039b {enter}',
          '{shift} \u0396 \u03a7 \u03a8 \u03a9 \u0392 \u039d \u039c  {shift}',
          '{space}',
        ],
      },
      display: {
        '\u0313': 'spiritus asper',
        '\u0314': 'spiritus lenis',
        '\u0308': 'trema',
        '\u0301': 'akut',
        '\u0300': 'gravis',
        '\u0342': 'zirkumflex',
        '\u0345': 'iota subscriptum',
        '{escape}': 'esc ⎋',
        '{tab}': 'tab ⇥',
        '{backspace}': 'backspace ⌫',
        '{enter}': 'enter ↵',
        '{lock}': 'caps lock ⇪',
        '{shift}': 'shift ⇧',
        '{control}': 'ctrl ⌃',
        '{alt}': 'alt ⌥',
        '{metaleft}': 'cmd ⌘',
        '{metaright}': 'cmd ⌘',
        '{space}': 'space',
      },
    })
  },
  computed: {
    ...mapState('virtual-keyboard', ['vk_input', 'vk_visible']),
  },
  methods: {
    onChange(input) {
      this.$store.commit('virtual-keyboard/vk_update_value', input)
    },
    onKeyPress(button) {
      /**
       * If you want to handle the shift and caps lock buttons
       */
      if (button === '{shift}' || button === '{lock}') this.handleShift()
    },
    handleShift() {
      let currentLayout = this.keyboard.options.layoutName
      let shiftToggle = currentLayout === 'default' ? 'shift' : 'default'

      this.keyboard.setOptions({
        layoutName: shiftToggle,
      })
    },
  },
  watch: {
    vk_input(input) {
      if (input) this.keyboard.setInput(input.value)
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.simple-keyboard {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hg-theme-default {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  touch-action: manipulation;
}
.hg-theme-default .hg-button span {
  pointer-events: none;
}
.hg-theme-default button.hg-button {
  border-width: 0;
  outline: 0;
  font-size: inherit;
}
.hg-theme-default {
  /*font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, sans-serif;*/
  font-family: 'Inter', sans-serif;
  background-color: #ececec;
  padding: 5px;
  border-radius: 5px;
}
.hg-theme-default .hg-button {
  display: inline-block;
  flex-grow: 1;
}
.hg-theme-default .hg-row {
  display: flex;
}
.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 5px;
}
.hg-theme-default .hg-row .hg-button-container,
.hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}
.hg-theme-default .hg-row > div:last-child {
  margin-right: 0;
}
.hg-theme-default .hg-row .hg-button-container {
  display: flex;
}
.hg-theme-default .hg-button {
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  background: #fff;
  border-bottom: 1px solid #b5b5b5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.hg-theme-default .hg-button.hg-activeButton {
  background: #efefef;
}
.hg-theme-default.hg-layout-numeric .hg-button {
  width: 33.3%;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.hg-theme-default .hg-button.hg-button-numpadadd,
.hg-theme-default .hg-button.hg-button-numpadenter {
  height: 85px;
}
.hg-theme-default .hg-button.hg-button-numpad0 {
  width: 105px;
}
.hg-theme-default .hg-button.hg-button-com {
  max-width: 85px;
}
.hg-theme-default .hg-button.hg-standardBtn.hg-button-at {
  max-width: 45px;
}
.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: #fff;
}
.hg-theme-default .hg-button.hg-standardBtn[data-skbtn='.com'] {
  max-width: 82px;
}
.hg-theme-default .hg-button.hg-standardBtn[data-skbtn='@'] {
  max-width: 60px;
}
</style>
