<template>
  <div :class="bodyBg" class="font-sans antialiased text-gray-900">
    <!-- Navbar -->
    <Navbar
      v-if="!start"
      :class="navbarBg"
      class="font-sans antialiased font-medium z-100"
      :items="navMain[locale]"
    />
    <!-- Notifications -->
    <NotificationContainer />
    <!-- Route Content -->
    <!-- Provides the application the proper gutter -->
    <div class="w-full p-0">
      <nuxt class="font-sans antialiased" />
    </div>
    <!-- Footer -->
    <Footer v-if="!start" />
  </div>
</template>

<script>
import Navbar from '@/components/organisms/Navbar'
import NotificationContainer from '@/components/atoms/NotificationContainer'
import Footer from '@/components/organisms/Footer'
import { mapState } from 'vuex'
export default {
  name: 'Layout',
  components: {
    Navbar,
    NotificationContainer,
    Footer
  },
  data() {
    return {
      collapseOnScroll: true,
      itemsDefault: [],
      locale: this.$i18n.locale,
      logo: {
        imageUrl: 'images/logo.svg',
        imageAlt: 'Logo',
      },
    }
  },
  computed: {
    bodyBg() {
      switch(this.$route.name) {
        case 'texts-urn':
          return 'bg-gray-100'
          break
        case 'reader':
          return 'bg-gray-100'
          break
        case 'search':
          return 'bg-gray-100'
          break
        default:
          return 'bg-white'
          break
      }
    },
    navbarBg() {
      switch(this.$route.name) {
        case 'texts-urn':
          return 'bg-white'
          break
        case 'reader':
          return 'bg-white'
          break
        case 'search':
          return 'bg-white'
          break
        default:
          return 'bg-gray-100'
          break
      }
    },
    start() {
      if (this.$route.fullPath === '/') return true
      return false
    },
    ...mapState(['navMain']),
  },
}
</script>
