<template>
  <div class="min-h-screen">
    <!-- Polygon Background -->
    <div
      class="bg-gray-100"
      style="
        height: 200px;
        clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 100%);
      "
    ></div>
    <!-- Error message -->
    <div class="flex-wrap justify-center w-full h-full layout-post">
      <h1 class="flex justify-center flex-1 text-5xl font-bold text-indigo-500">
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          class="flex inline-block w-10 h-10 mt-4 mr-1 align-middle"
        >
          <path
            d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        {{error.statusCode}}
      </h1>
      <h2
        v-if="error.statusCode = '404'"
        class="flex justify-center flex-1 text-indigo-500 text-md"
      >{{$t('error.404')}}</h2>
      <h2 v-else class="justify-center flex-1 text-lg text-gray-900">{{ error.message }}</h2>
    </div>
    <!-- CTA Buttons -->
    <div class="flex justify-center flex-1 mt-4 text-5xl">
      <div
        class="justify-center flex-1 mt-10 text-lg italic text-gray-900"
      >{{$t('error.callToAction')}}</div>
      <button
        class="relative inline-block w-full h-12 px-6 py-3 mt-4 text-sm font-medium leading-snug tracking-wide text-white bg-indigo-600 rounded-lg shadow-md sm:mt-0 sm:h-auto sm:w-auto focus:outline-none focus:shadow-outline hover:bg-indigo-500"
      >{{ $t('btn.email') }}</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['error'],
  layout: 'default'
}
</script>

<style lang="css" scoped>
.layout-post {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr);
}
/* position text paragraphs into the second (middle) column */
section,
p,
h1,
h2,
span {
  grid-column: 2;
}
</style>