<template>
  <div class="font-sans antialiased">
    <div class="relative min-h-screen overflow-hidden bg-white">
      <!-- Logo & Image (Mobile) -->
      <div class="md:hidden">
        <img
          class="object-cover w-full h-40"
          src="@/assets/images/titelbild-bibelexegese.jpg"
          loading="lazy"
          alt="Title image Bibelexegese"
        />
      </div>
      <!-- Desktop Background Image -->
      <img
        class="absolute hidden lg:block"
        src="@/assets/images/titelbild-bibelexegese.jpg"
        loading="lazy"
        alt="Title image Bibelexegese"
        style="
          height: 100%;
          width: 100%;
          background-size: 150% auto;
          object-fit: cover;
          left: 315px;
        "
      />
      <!-- Background Angle SVG -->
      <div
        class="relative min-h-screen bg-no-repeat lg:min-w-3xl xl:min-w-4xl lg:flex lg:items-center lg:justify-center lg:w-3/5 lg:py-20 lg:pl-8 lg:pr-8"
        :style="{
          backgroundImage: 'url(' + require('@/assets/images/angle.svg') + ')',
        }"
        style="background-size: 100% auto; background-position: -5px -5px;"
      >
        <div class="lg:pb-16">
          <!-- Logo -->
          <div class="px-6 pt-8 pb-12 md:pt-16 md:max-w-3xl md:mx-auto lg:max-w-full lg:pt-0">
            <div class="flex items-center justify-between md:inline-block">
              <div>
                <img class="h-8 lg:h-12" src="@/assets/images/logo.svg" alt="Logo" />
              </div>
            </div>

            <!-- Title -->
            <div class="mt-8 lg:mt-16">
              <p
                class="text-sm font-semibold tracking-wider text-gray-500 uppercase"
              >{{$t('site.comingSoon')}}</p>
              <h1
                class="mt-2 text-4xl font-semibold leading-tight text-gray-900 xl:text-5xl font-display"
              >{{$t('site.title')}}</h1>
              <p
                class="max-w-xl mt-1 text-lg text-indigo-500 lg:max-w-3xl xl:text-2xl"
              >{{$t('site.subtitle')}}</p>
            </div>
            <div class="mt-4 md:mt-10">
              <!-- Browse Texts -->
              <nuxt-link :to="localePath('texts')">
                <button
                  class="relative inline-block w-full h-12 px-6 py-3 mt-4 font-medium leading-snug tracking-wide text-white bg-indigo-600 rounded-lg shadow-md sm:mt-0 sm:h-auto sm:w-auto focus:outline-none focus:shadow-outline hover:bg-indigo-500"
                >{{ $t('btn.browse') }}</button>
              </nuxt-link>
              <!-- About -->
              <nuxt-link
                :to="localePath({ name: 'project-category', params: { category: 'about'}})"
              >
                <button
                  class="relative inline-block w-full h-12 px-6 py-3 mt-4 font-medium leading-snug tracking-wide text-indigo-700 bg-gray-200 rounded-lg md:ml-2 sm:mt-0 sm:h-auto sm:w-auto focus:outline-none focus:shadow-outline hover:bg-gray-100"
                >{{ $t('btn.about') }}</button>
              </nuxt-link>
              <!-- Search -->
              <nuxt-link :to="localePath('search')">
                <button
                  class="relative inline-block w-full h-12 px-6 py-3 mt-4 font-medium leading-snug tracking-wide text-indigo-700 bg-gray-200 rounded-lg md:ml-2 sm:mt-0 sm:h-auto sm:w-auto focus:outline-none focus:shadow-outline hover:bg-gray-100"
                >{{ $t('btn.search') }}</button>
              </nuxt-link>
            </div>
            <div class="absolute flex items-center pt-40">
              <div
                class="inline-block text-xs font-semibold tracking-wider text-gray-500 uppercase"
              >{{$t('site.projectBy')}}</div>
              <div class="inline-block max-w-2xl ml-4">
                <img src="@/assets/images/logo_bbaw_text_black.svg" class="h-20" alt="Logo BBAW" />
              </div>
              <!--               <div
                class="max-w-xl pt-2 text-sm font-medium leading-tight text-gray-600"
              >
                {{$t('site.bbaw')}}
              </div>-->
            </div>
          </div>
          <!-- Mobile Background Image -->
          <div class="relative h-64 overflow-hidden lg:hidden">
            <div
              class="absolute scroll-bg"
              :style="{
                backgroundImage:
                  'url(' +
                  require('@/assets/images/titelbild-bibelexegese.jpg') +
                  ')',
              }"
              style="
                background-size: 100% auto;
                background-position: -5px -5px;
              "
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  transition: 'pageFade',
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    },
  },
  head() {
    return {
      title: 'Start' + ' | ' + this.$t('site.title'),
    }
  }
}
</script>