<template>
  <div class="min-h-screen mb-32">
    <!-- Polygon Background -->
    <div
      class="bg-gray-100"
      style="
        height: 200px;
        clip-path: polygon(0px 0px, 100% 0%, 100% 85%, 0px 100%);
      "
    ></div>
    <!-- Content -->
    <div class="layout-post">
      <!-- Header -->
      <section id="header" class="z-10">
        <h1
          class="-mt-32 text-4xl font-semibold"
        >{{ $t(`section.title.${this.$route.params.category}`) }}</h1>
        <h2
          class="text-xl text-indigo-700"
        >{{ $t(`section.subtitle.${this.$route.params.category}`) }}</h2>
      </section>
      <!-- Teaser -->
      <section id="teaser" class="pt-6 text-lg" :key="locale && category">
        <div v-show="category === 'about'" class="link" v-html="about" />
        <div v-show="category === 'encoding-guidelines'" class="link" v-html="encodingguidelines" />
        <div v-show="category === 'contributing'" class="link" v-html="contributing" />
        <div v-show="category === 'contact'" class="link" v-html="contact" />
      </section>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

import about_en from '@/texts/en/project/about.md'
import encodingguidelines_en from '@/texts/en/project/encoding-guidelines.md'
import contributing_en from '@/texts/en/project/contributing.md'
import contact_en from '@/texts/en/project/contact.md'

import about_de from '@/texts/de/project/about.md'
import encodingguidelines_de from '@/texts/de/project/encoding-guidelines.md'
import contributing_de from '@/texts/de/project/contributing.md'
import contact_de from '@/texts/de/project/contact.md'

export default {
  name: 'Project',
  transition: 'pageFade',
  head() {
    return {
      title: this.pageTitle,
      text: null
    }
  },
  data() {
    return {
    }
  },
  computed: {
    category() {
      return this.$route.params.category
    },
    locale() {
      return this.$i18n.locale
    },
    about() {
      switch (this.locale) {
        case 'de':
          return about_de
          break
        case 'en':
          return about_en
          break
      }
    },
    encodingguidelines() {
      switch (this.locale) {
        case 'de':
          return encodingguidelines_de
          break
        case 'en':
          return encodingguidelines_en
          break
      }
    },
    contributing() {
      switch (this.locale) {
        case 'de':
          return contributing_de
          break
        case 'en':
          return contributing_en
          break
      }
    },
    contact() {
      switch (this.locale) {
        case 'de':
          return contact_de
          break
        case 'en':
          return contact_en
          break
      }
    },
    // Creates a title string for browser window
    pageTitle() {
      if (this.$route.params.category) {
        let category = this.$route.params.category
        return this.$t(`navbar.${category}`) + ' | ' + this.$t('site.title')
      }
    },
  }
}
</script>

<style lang="css" scoped>
.layout-post {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr);
}
/* position text paragraphs into the second (middle) column */
section,
p,
h1,
h2,
span {
  grid-column: 2;
}

/* position images to take up all three columns */
img {
  grid-column: 1 / 4;
  width: 100%;
  max-width: 100ch;
  justify-self: center;
}

>>> p {
  margin-bottom: 20px;
}

>>> a {
  -webkit-box-shadow: inset 0 -0.7rem 0 0 rgba(178, 245, 234, 0.6);
  box-shadow: inset 0 -0.7rem 0 0 rgba(178, 245, 234, 0.6);
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  cursor: pointer;
}

>>> a:hover {
  -webkit-box-shadow: inset 0 -2.5rem 0 0 rgba(178, 245, 234, 0.8);
  box-shadow: inset 0 -2.5rem 0 0 rgba(178, 245, 234, 0.8);
}
</style>
