<!-- Renders Text Reader Interface including Text, Sidebars, Breadcrumbs -->
<template>
  <div
    class="relative flex w-full m-auto transition duration-75 border-t border-gray-300 bg-gray-50 grid-container"
  >
    <!-- Left Sidebar -->
    <aside id="sidebar-left" :style="sidebarLeft" class="z-10 hidden h-screen md:block sidebar">
      <div v-show="reader.sidebarLeftOpen">
        <div v-if="!$fetchState.pending" class="bg-gray-50">
          <WidgetBibliography :metadata="leftVersion.metadata" :type="leftVersion.type" />
          <WidgetIdentifier :metadata="leftVersion.metadata" />
        </div>
      </div>
    </aside>

    <!-- Text -->
    <section id="text" :class="textSectionBorder" class="relative w-full p-2 bg-white text">
      <div
        v-if="false"
        class="flex flex-wrap content-center justify-center h-full text-white fill-current"
      >
         <!-- <loading-progress
          :progress="progress"
          indeterminate="indeterminate"
          :counter-clockwise="counterClockwise"
          :hide-background="hideBackground"
          size="64"
          rotate
          fill-duration="2"
          rotation-duration="1" -->
      </div>
      <ReaderText :left="leftWork" :right="rightWork" v-else class="mb-20" />
    </section>

    <!-- Right Sidebar -->
    <aside id="sidebar-right" :style="sidebarRight" class="z-10 hidden h-screen md:block sidebar">
      <div v-show="reader.sidebarRightOpen">
        <div class="bg-gray-50">
          <WidgetDictionary />
          <WidgetBibleReferences />
          <WidgetPersons />
          <WidgetPlaces />
        </div>
      </div>
    </aside>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'

export default {
  name: 'Reader',
  transition: 'pageFade',
  data() {
    return {
      urn: null,
      textLeft: null,
      textRight: null,
      leftWork: {},
      rightWork: {},
      leftVersion: null,
      rightVersion: null
    }
  },
  head() {
    return {
      // title: this.windowTitle
    }
  },
  async fetch() {
    const routeLeftWork = this.$route.query.left.split('.').slice(0,2).join('.')
    const routeRightWork = this.$route.query.right.split('.').slice(0,2).join('.')

    // Retrieve work component for left column text
    if (routeLeftWork) {
      this.leftWork = await this.$content('metadata/cts')
        .where({ 'urn' : routeLeftWork })
        .fetch()
      this.leftWork = this.leftWork[0]
      this.leftVersion = this.leftWork.work_items.filter( el => el.urn === this.$route.query.left )[0]

      // Retrieve left column text TEI metadata
      const workURN = this.leftVersion.work_urn.split(':')[3]
      const versionURN = this.$route.query.left.split(':').slice(3).join('.')
      console.log(versionURN)

      let payloadTEI = await this.$content('metadata/tei')
        .where({ 'filename': versionURN })
        .only(['filename','PTA','CPG','BHGn','aldama','pinakes','date','licence','revision_date','revision_author'])
        .fetch()
      if (payloadTEI) {
        payloadTEI = payloadTEI[0]
      }
      
      // Merge both metadata sets
      this.leftVersion.metadata = {...this.leftVersion.metadata, ...payloadTEI}
    }

    // Retrieve work component for right column text
    if (routeRightWork) {
      this.rightWork = await this.$content('metadata/cts')
        .where({ 'urn' : routeRightWork })
        .fetch()
      this.rightWork = this.rightWork[0]
      this.rightVersion = this.rightWork.work_items.filter( el => el.urn === this.$route.query.right )[0]
    } else {
      this.rightWork = this.leftWork
    }

    // // Fetch left column text CTS metadata
    // let urnLeft = this.$route.params.urn
    // let workLeft = urnLeft.split('.')[0] + '.' + urnLeft.split('.')[1]
    // let payloadCTS = await this.$content('metadata/cts')
    //   .where({ 'urn': workLeft })
    //   .fetch()
    // if (payloadCTS) {
    //   payloadCTS = payloadCTS[0]
    // }
    // this.textLeft = payloadCTS.work_items.filter( el => el.urn === urnLeft )
    // this.textLeft = this.textLeft[0]

  },
  computed: {
    // Applies border to active sidebars
    textSectionBorder() {
      let borders = []
      if (this.reader.sidebarLeftOpen) {
        borders.push(`border-l border-gray-200`)
      }
      if (this.reader.sidebarRightOpen) {
        borders.push(`border-r border-gray-200`)
      }
      return borders
    },
    // Sets left sidebar width after display toggle
    sidebarLeft() {
      let width
      if (this.reader.sidebarLeftOpen) return 'width: 350px'
      if (!this.reader.sidebarLeftOpen) return 'width: 0'
      return width
    },
    // Sets right sidebar width after display toggle
    sidebarRight() {
      let width
      if (this.reader.sidebarRightOpen) return 'width: 350px'
      if (!this.reader.sidebarRightOpen) return 'width: 0'
      return width
    },
    // Sets textgroup title based on current locale, or provides fallback title
    textgroupTitle() {
      let activeTextgroup = ''
      let title = ''
      // Find curren textgroup
      activeTextgroup = this.texts.textgroups.filter(
        (el) => el.cts.textgroup === this.urn.textgroup
      )
      // Check for title in current locale
      if (activeTextgroup[0].title[this.$i18n.locale]) {
        title = activeTextgroup[0].title[this.$i18n.locale]
      }
      // Return title or fallback title
      if (title !== '') {
        return title
      } else return activeTextgroup[0].title.fallback
    },
  // Sets work title based on current locale, or provides fallback title
    workTitle() {
      return this.$store.getters['texts/getWorkTitle'](this.urn)
    },
    ...mapState(['reader', 'texts']),
    ...mapGetters('texts', ['getTextsForWork']),
    currentEntityVersions() {
      if (this.urn) {
        return this.getTextsForWork(this.urn)
      }
      return ''
    },
    // ...mapActions(['reader/fetchText'])
  },
  methods: {
    // Browser window title
    windowTitle() {
      if (!this.$fetchState.pending) {
        return this.textLeft.metadata.title + ' | ' + this.$t('site.title')
      }
    },
    ...mapMutations({
      setCtsUrn: 'reader/SET_CTS_URN',
      setTextType: 'reader/setTextType',
      setCurrentEntityVersions: 'reader/setCurrentEntityVersions',
      toggleSidebar: 'reader/toggleSidebar',
      toggleTextMenu: 'reader/toggleTextMenu',
      closeTextMenu: 'reader/closeTextMenu',
    }),
  },
  created() {
    // If left column text type is set on load, mutate store variable
    if (this.$route.query.left) {
      this.setTextType({ type: this.$route.query.left, side: 'left' })
    }
    // If right column text type is set on load, mutate store variable
    if (this.$route.query.right) {
      this.setTextType({ type: this.$route.query.right, side: 'right' })
    }
  },
}
</script>

<style lang="css" scoped>
.sidebar {
  transition: 0.25s ease-out;
}
</style>
